.jsb-notification {
	position: fixed !important;
	top: 0;
	width: 356px !important;
	border: none !important;
	padding-bottom: 4px !important;
	overflow: visible !important;
	right: -356px;
	margin-right: 8px !important;
	-webkit-transition: right 0.35s ease-in-out, top 0.35s ease-in-out, opacity 0.3s ease-out, -webkit-transform 0.35s ease-in !important;
}

.jsb-notification.jsb-notification-warped {
	-webkit-transform: perspective(500px) rotateX(-75deg);
}
	
	.jsb-notification * {
		margin: 0 !important;
		line-height: 1 !important;
		color: #222 !important;
		font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
		font-size: 9pt !important;
		height: auto !important;
		box-shadow: none !important;
		padding: 0 !important;
		-webkit-font-smoothing: subpixel-antialiased !important;
		line-height: 1.2 !important;
		text-transform: none !important;
	}

	.jsb-notification input[disabled],
	.jsb-notification select[disabled],
	.jsb-notification button[disabled] {
		opacity: 0.5 !important;
		pointer-events: none !important;
	}

	.jsb-notification input,
	.jsb-notification select,
	.jsb-notification button,
	.jsb-notification textarea {
		background: #fff !important;
		border: none !important;
		-webkit-border-radius: 4px !important;
		color: #0069de !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5) !important;
		border: 1px solid rgb(200, 200, 200) !important;
		border-bottom-color: rgb(168, 168, 168) !important;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04) !important;
		width: auto !important;
		cursor: default !important;
		padding: 3px 8px !important;
		border-radius: 5px !important;
		line-height: 1 !important;
	}

	.jsb-notification input:not([type="checkbox"]):not([type="radio"]):focus,
	.jsb-notification select:focus,
	.jsb-notification button:focus,
	.jsb-notification textarea:focus {
		outline: none !important;
	}

	.jsb-notification input:not([type="checkbox"]):not([type="radio"]):focus,
	.jsb-notification select:focus,
	.jsb-notification button:focus {
		border-color: rgba(31, 169, 255, 0.5) !important;
		box-shadow: 0 1px 0 rgba(31, 169, 255, 0.4),
			0 -1px 0 rgba(31, 169, 255, 0.4),
			1px 0 0 rgba(31, 169, 255, 0.4),
			-1px 0 0 rgba(31, 169, 255, 0.4),
			inset 0 1px 0 rgba(31, 169, 255, 0.4),
			inset 0 -1px 0 rgba(31, 169, 255, 0.4),
			inset 1px 0 0 rgba(31, 169, 255, 0.4),
			inset -1px 0 0 rgba(31, 169, 255, 0.4) !important;
	}

	.jsb-notification input[type="button"]:active,
	.jsb-notification button:not(.delete):active {
		background: #f5f5f5 !important;
		border-color: rgb(200, 200, 200) !important;
		-webkit-animation: none !important;
		text-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
	}

	.jsb-notification input[type="text"],
	.jsb-notification input[type="search"] {
		padding: 2px !important;
	}

	.jsb-notification input[type="text"],
	.jsb-notification input[type="search"],
	.jsb-notification textarea {
		-webkit-border-radius: 0 !important;
		background: #fff !important;
		border: 1px solid rgba(0,0,0,0.12) !important;
		border-bottom-color: #a7c1d9 !important;
		box-shadow: none !important;
		color: #111 !important;
		font-size: 9pt !important;
		cursor: text !important;
	}

	.jsb-notification .jsb-notification-toggle-layering {
		position: absolute !important;
		top: 0px !important;
		left: 0 !important;
		height: 30px !important;
		width: 255px !important;
		z-index: 1 !important;
	}

	.jsb-notification .jsb-notification-inner {
		max-height: 300px !important;
		background: -webkit-linear-gradient(top, #ffffff, #fafafa) !important;
		background-size: auto auto !important;
		margin: 10px !important;
		padding: 7px 10px !important;
		z-index: 0 !important;
		border-radius: 6px !important;
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3) !important;
		overflow: hidden !important;
		opacity: 1 !important;
		position: relative !important;
		right: 0;
	}

		.jsb-notification.jsb-notification-stacked .jsb-notification-inner {
			box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15) !important;
		}

		.jsb-notification.jsb-notification-forwarded:not(.jsb-notification-entering) .jsb-notification-inner {
			background: -webkit-linear-gradient(top, #fafafa, #f6f6f6) !important;
			box-shadow: 0 0px 25px rgba(0, 0, 0, 0.3) !important;
		}

		.jsb-notification.jsb-notification-high-priority .jsb-notification-inner {
			/*background: -webkit-linear-gradient(top, #f9fcff, #f3f9ff) !important;*/
		}

			.jsb-notification.jsb-notification-high-priority.jsb-notification-forwarded:not(.jsb-notification-entering) .jsb-notification-inner {
				/*background: -webkit-linear-gradient(top, #f3f9ff, #ecf6ff) !important;*/
			}

	.jsb-notification .jsb-notification-close-container {
		float: right !important;
		width: 92px !important;
		margin-top: -7px !important;
		margin-right: -10px !important;
	}

	.jsb-notification .jsb-notification-close-wrapper {
		position: relative !important;
		border-left: 1px solid rgba(0, 0, 0, 0.065) !important;
		border-bottom: 1px solid rgba(0, 0, 0, 0.065) !important;
		border-radius: 0 !important;
		border-top-right-radius: 6px !important;
		overflow: hidden !important;
	}

		.jsb-notification .jsb-notification-close-wrapper:last-child {
				border-bottom-left-radius: 6px !important;
			}

	.jsb-notification .jsb-notification-close-option {
		list-style-type: none !important;
		-webkit-transition: height 0.35s ease-in-out;
	}

		.jsb-notification .jsb-notification-close-option li input {
			width: 100% !important;
			border-top: 1px solid rgba(0, 0, 0, 0.065) !important;
		}

	.jsb-notification .jsb-notification-close {
		position: relative !important;
		width: 100% !important;
		z-index: 2 !important;
		border: none !important;
		border-radius: 0 !important;
		background: none !important;
		padding: 5px 5px !important;
		margin: 0 !important;
		color: #222 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

		.jsb-notification input.jsb-notification-close:active {
			background: rgba(246, 246, 246, 0.98) !important;
			border-color: rgba(0, 0, 0, 0.065) !important;
		}

	.jsb-notification .jsb-notification-title {
		font-weight: bold !important;
		margin-top: 0 !important;
		line-height: 1 !important;
		margin-bottom: 8px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}

	.jsb-notification .jsb-notification-sub-title {
		margin-top: -5px !important;
		color: #888 !important;
		font-weight: normal !important;
		margin-bottom: 7px !important;
		overflow: hidden !important;
		text-overflow: ellipsis !important;
	}

	.jsb-notification .jsb-notification-body {
		clear: both !important;
	}

		.jsb-notification .jsb-notification-body .jsb-info {
			max-height: 100px !important;
		}

	.jsb-notification .jsb-xhr-query-param {
		font-weight: bold !important;
	}

	.jsb-notification .jsb-xhr-query-param-modify {
		width: 85px !important;
		text-align: right !important;
		margin-bottom: 1px !important;
	}

	.jsb-notification .jsb-xhr-query-value-modify {
		width: 190px !important;
	}

	.jsb-notification .jsb-xhr-part-label {
		margin-bottom: 2px !important;
	}

	.jsb-notification ::-webkit-scrollbar {
		width: 6px !important;
		height: 6px !important;
	}

	.jsb-notification ::-webkit-scrollbar-corner {
		background: transparent !important;
	}

	.jsb-notification ::-webkit-scrollbar-track {
		border-radius: 5px !important;
		background: rgba(0, 0, 0, 0.07);
	}

	.jsb-notification ::-webkit-scrollbar-thumb {
		border-radius: 5px !important;
		background: rgba(0, 0, 0, 0.3);
	}

		.jsb-notification ::-webkit-scrollbar-thumb:hover {
			background: rgba(0, 0, 0, 0.5);
		}

.jsb-hidden {
	display: none;
}

.jsb-indented {
	margin-left: 7px !important;
}

.jsb-bold {
	font-weight: bold !important;
}

.jsb-label {
	color: #6f6f6f !important;
}

.jsb-color-allow,
input.jsb-color-allow,
.jsb-notification .jsb-color-allow {
	color: #008913 !important;
}

.jsb-color-block,
input.jsb-color-block,
.jsb-notification .jsb-color-block  {
	color: #920101 !important;
}

.jsb-info {
	padding: 1px !important;
	margin: 4px 0 6px !important;
	padding-bottom: 1px !important;
	overflow: auto !important;
}

.jsb-no-animations,
.jsb-no-animations * {
	-webkit-transition-duration: 0.0001s !important;
}
