.shared-after(@important) {
	.jsb-element,
	.jsb-injected-element {
		&.jsb-no-select {
			&,
			* {
				-wbkit-user-select: none !important;
			}
		}

		&.jsb-drag-cursor {
			&[data-cursor="col-resize"] {
				&,
				* {
					cursor: col-resize !important;
				}
			}
		}

		.jsb- {
			&hidden {
				display: none @important;
			}

			&indented {
				margin-left: 7px @important;
			}

			&bold {
				font-weight: bold @important;
			}

			&label {
				color: #6f6f6f @important;
			}

			&centered {
				text-align: center @important;
			}

			&info {
				text-indent: 0 @important;
				padding: 1px @important;
				margin: 4px 0 5px @important;
				overflow: auto @important;
				font-weight: normal @important;
			}

			&readable {
				display: inline-block;
				max-width: 300px;
			}

			&embossed {
				color: rgba(0, 0, 0, 0.3);
				font-weight: 500;
				text-shadow: 0 1px 1px #fff, 0 0 0 rgba(0, 0, 0, 0.3), 0 0 1px #fff;
			}

			&smaller {
				font-size: smaller;
			}

			&hidden,
			&hidden *,
			&no-animations,
			&no-animations * {
				-webkit-transition-duration: 0.001s !important;
				-webkit-animation-duration: 0.001s !important;
			}

			&align-right {
				text-align: right;
			}

			&disabled {
				opacity: 0.4 @important;
				pointer-events: none @important;
			}
		}

		pre {
			font-size: 8pt;

			.jsb-large-font& {
				font-size: 9pt;
			}

			&,
			* {
				tab-size: 2;
				white-space: pre;
				font-family: "Menlo-Regular", Courier, monospace @important;
			}
		}

		ul,
		ol {
			list-style: none;
		}

		ol {
			list-style-type: decimal;
			margin-left: 20px;
		}

		h1,
		h2,
		h3,
		h4 {
			color: #5a668c;
			font-weight: normal;
			margin: 0 7px 10px;
		}

		h1 {
			font-size: 130%;
		}

		h2 {
			font-size: 120%;
		}

		h3 {
			font-size: 110%;
		}

		a,
		.select-custom-options li {
			color: @baseColor;

			&:active {
				color: darken(@baseColor, 10%);
			}

			&.no-underline {
				text-decoration: none;
			}
		}

		*[data-expander] {
			position: relative;
			margin-top: 5px;
			padding-bottom: 3px;

			+ * {
				overflow: hidden;
			}

			> * {
				display: inline;
			}

			&:not(.keep-expanded) {
				> *:after {
					position: absolute;
					display: inline-block;
					content: ' ' attr(data-i18n-hide);
					margin-left: 7px;
					opacity: 0;
					font-weight: 500;
				}

				&:hover > *:after {
					opacity: 0.8;
				}

				&.group-collapsed + * {
					display: none;
				}

				&.group-collapsed,
				&.group-collapsing {
					> *:after {
						content: ' ' attr(data-i18n-show);
					}
				}
			}
		}
	}
}
