.color-allow() {
	&.jsb-color-allow {
		color: #008913 !important;
	}
}

.color-block() {
	&.jsb-color-block {
		color: #920101 !important;
	}
}

.jsb-popover,
.jsb-injected-element {
	::-webkit-scrollbar {
		width: 6px !important;
		height: 6px !important;
	}

	::-webkit-scrollbar-corner {
		background: transparent !important;
	}

	::-webkit-scrollbar-track {
		border-radius: 5px !important;
		background: rgba(0, 0, 0, 0.07);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px !important;
		background: rgba(0, 0, 0, 0.3);
	
		&:hover {
			background: rgba(0, 0, 0, 0.5);
		}
	}

	*,
	& {
		margin: 0 !important;
		color: #222 !important;
		font-family: 'Helvetica Neue', Helvetica, sans-serif !important;
		font-size: 9pt !important;
		height: auto !important;
		box-shadow: none !important;
		padding: 0 !important;
		-webkit-font-smoothing: subpixel-antialiased !important;
		line-height: 1.2 !important;
		text-transform: none !important;
		clear: none !important;
	}

	input,
	select,
	button,
	textarea {
		background: #fff !important;
		border: none !important;
		-webkit-border-radius: 4px !important;
		color: #0069de !important;
		text-shadow: 0 1px 0 rgba(255,255,255,0.5) !important;
		border: 1px solid rgb(200, 200, 200) !important;
		border-bottom-color: rgb(168, 168, 168) !important;
		box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04) !important;
		width: auto !important;
		cursor: default !important;
		padding: 3px 8px !important;
		border-radius: 5px !important;
		line-height: 1 !important;
		text-shadow: none !important;
		font-weight: normal !important;

		&[disabled] {
			opacity: 0.5 !important;
			pointer-events: none !important;
		}

		&:not([type="checkbox"]):not([type="radio"]):focus {
			@inputFocusShadow: rgba(31, 169, 255, 0.4);

			outline: none !important;
			border-color: rgba(31, 169, 255, 0.5) !important;
			box-shadow: 0 1px 0 rgba(31, 169, 255, 0.4),
				0 -1px 0 @inputFocusShadow,
				1px 0 0 @inputFocusShadow,
				-1px 0 0 @inputFocusShadow,
				inset 0 1px 0 @inputFocusShadow,
				inset 0 -1px 0 @inputFocusShadow,
				inset 1px 0 0 @inputFocusShadow,
				inset -1px 0 0 @inputFocusShadow !important;
		}


		&[type="text"],
		&[type="search"] {
			padding: 2px !important;
		}
	}

	input[type="button"]:not(.delete):active,
	button:not(.delete):active {
		background: #f5f5f5 !important;
		border-color: rgb(185, 185, 185) !important;
		-webkit-animation: none !important;
		text-shadow: 0 0 0 rgba(0, 0, 0, 0.4) !important;
	}

	input[type="text"],
	input[type="search"],
	textarea {
		-webkit-border-radius: 0 !important;
		background: #fff !important;
		border: 1px solid rgba(0,0,0,0.12) !important;
		border-bottom-color: #a7c1d9 !important;
		box-shadow: none !important;
		color: #111 !important;
		font-size: 9pt !important;
		cursor: text !important;
	}

	select {
		.color-allow;
		.color-block;
	}
}

@import "shared-after.less";
