@empty:;
@baseColor: rgb(23, 126, 251);
@allowColor: #008913;
@blockColor: #920101;
@focusShadow: rgb(171, 221, 254);
@background: rgb(239, 239, 244);
@easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

.shared-before(@important) {
	@-webkit-keyframes shake {
		0% { -webkit-transform: translateX(0); }
		14% { -webkit-transform: translateX(-13px); }
		28% { -webkit-transform: translateX(13px); }
		43% { -webkit-transform: translateX(-9px); }
		57% { -webkit-transform: translateX(9px); }
		71% { -webkit-transform: translateX(-7px); }
		86% { -webkit-transform: translateX(7px); }
		100% { -webkit-transform: translateX(0); }
	}

	@-webkit-keyframes unshake {
		0% { -webkit-transform: translateX(0); }
		14% { -webkit-transform: translateX(13px); }
		28% { -webkit-transform: translateX(-13px); }
		43% { -webkit-transform: translateX(9px); }
		57% { -webkit-transform: translateX(-9px); }
		71% { -webkit-transform: translateX(7px); }
		86% { -webkit-transform: translateX(-7px); }
		100% { -webkit-transform: translateX(0); }
	}
	
	.color-allow() {
		&.jsb-color-allowed {
			color: @allowColor @important;
		}
	}

	.color-block() {
		&.jsb-color-blocked {
			color: @blockColor @important;
		}
	}

	.jsb-element,
	.jsb-injected-element {
		::-webkit-scrollbar {
			width: 6px @important;
			height: 6px @important;

			&-corner {
				background: transparent @important;
			}

			&-track {
				border-radius: 5px @important;
				background: rgba(0, 0, 0, 0.07) @important;
			}

			&-thumb {
				border-radius: 5px @important;
				background: rgba(0, 0, 0, 0.3) @important;
				
				&:hover {
					background: rgba(0, 0, 0, 0.5) @important;
				}
			}
		}

		font-size: 9pt @important;

		* {
			margin: 0 @important;
			color: #222 @important;
			font-family: 'Helvetica Neue', Helvetica, sans-serif @important;
			font-size: 1em @important;
			height: auto @important;
			min-height: 0 @important;
			width: auto @important;
			min-width: 0 @important;
			box-shadow: none @important;
			text-shadow: none @important;
			padding: 0 @important;
			-webkit-font-smoothing: subpixel-antialiased @important;
			line-height: 1.2 @important;
			text-transform: none @important;
			clear: none @important;
			text-rendering: optimizeLegibility @important;
			text-align: left @important;
			white-space: normal;
			border: none @important;
			background: none @important;
			-webkit-transition-property: none @important;
			visibility: visible @important;
			opacity: 1;
			float: none @important;

			&:after {
				content: none @important;
			}

			.color-allow;
			.color-block;
		}

		&.jsb-large-font {
			font-size: 11pt @important;
		}

		input,
		select,
		button,
		textarea {
			background: #fff @important;
			border: none @important;
			border-radius: 4px @important;
			color: #333 @important;
			// color: desaturate(darken(@baseColor, 35%), 60%);
			text-shadow: 0 1px 0 rgba(255,255,255,0.5) @important;
			border: 1px solid rgb(200, 200, 200) @important;
			border-bottom-color: rgb(168, 168, 168) @important;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04) @important;
			width: auto @important;
			height: auto @important;
			cursor: default @important;
			padding: 3px 8px @important;
			border-radius: 5px @important;
			line-height: 1 @important;
			text-shadow: none @important;
			font-weight: normal @important;
			text-align: center @important;

			.color-allow;
			.color-block;

			&[disabled] {
				opacity: 0.5 @important;
				pointer-events: none @important;
			}

			&:not([type="radio"]):focus {
				outline: none @important;
				border-color: darken(@focusShadow, 5%);
				box-shadow: 0 1px 0 @focusShadow,
					0 -1px 0 @focusShadow,
					1px 0 0 @focusShadow,
					-1px 0 0 @focusShadow,
					inset 0 1px 0 @focusShadow,
					inset 0 -1px 0 @focusShadow,
					inset 1px 0 0 @focusShadow,
					inset -1px 0 0 @focusShadow @important;
			}


			&[type="text"],
			&[type="search"] {
				padding: 2px @important;
			}
		}

		textarea {
			padding: 2px 3px @important;

			&.render-as-input {
				height: 15px @important;
				overflow-x: scroll;
				overflow-y: hidden;
				vertical-align: bottom;
				resize: none;

				.jsb-large-font& {
					height: 17px @important;
				}

				&::-webkit-scrollbar {
					height: 3px;
				}
			}
		}

		input[type="button"],
		button {
			.jsb-large-font& {
				padding: 2px 8px 4px;
			}

			&:active {
				background: #f5f5f5 @important;
				border-color: rgb(185, 185, 185) @important;
				-webkit-animation: none @important;
				text-shadow: 0 0 0 rgba(0, 0, 0, 0.3) @important;
			}

			&.on-enter {
				color: #fff;
				background: -webkit-linear-gradient(top, lighten(@baseColor, 15%), lighten(@baseColor, 2%));
				border-top-color: lighten(@baseColor, 7%) @important;
				border-left-color: @baseColor @important;
				border-right-color: @baseColor @important;
				border-bottom-color: darken(@baseColor, 6%) @important;

				&:active {
					background: -webkit-linear-gradient(top, lighten(@baseColor, 7%), darken(@baseColor, 6%));
				}
			}
		}

		input[type="text"],
		input[type="search"],
		textarea {
			border-radius: 0 @important;
			color: #111 @important;
			cursor: text @important;

			&,
			select {
				text-align: left @important;
			}
		}

		input[type="search"] {
			-webkit-appearance: none @important;
			border-radius: 12px @important;
			padding: 2px 2px 1px @important;
		}

		input[type="checkbox"] {
			display: inline-block;
			position: relative;
			-webkit-appearance: none @important;
			height: 14px @important;
			width: 14px @important;
			background: #fff @important;
			padding: 1px 4px 3px 1px @important;
			border-radius: 3px @important;
			font-size: 12pt @important;
			margin-bottom: -2px @important;
			border-bottom-color: rgb(190, 190, 190) @important;
			box-shadow: inset 0 0 2px rgba(0, 0, 0, 0) @important;
			-webkit-transition: background 0.15s ease-out, border-color 0.15s ease-out @important;

			&:active {
				background: #f3f3f3 @important;
			}

			&:after {
				display: inline-block @important;
				color: #fff @important;
				font-weight: bold @important;
				content: '✔︎' @important;
				font-family: "Menlo-Regular" @important;
				-webkit-transform: translate(0px, -4px) scaleY(0.9) scaleX(0.8) @important;
				opacity: 0 @important;
				-webkit-transition: opacity 0.15s ease-out @important;
				-webkit-font-smoothing: antialiased @important;
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) @important;
			}

			&:checked {
				background: lighten(@baseColor, 7%) @important;
				border-color: lighten(@baseColor, 1%) @important;

				&:after {
					opacity: 1 @important;
				}
			}

			+ label {
				display: inline-block @important;
				margin-bottom: 3px @important;
				margin-right: 2px @important;
			}
		}

		select {
			.color-allow;
			.color-block;

			color: #3a3a3a @important;
			-webkit-appearance: none @important;
			border-bottom-color: rgb(190, 190, 190) @important;
			z-index: 1 @important;
			padding-right: 21px @important;
			white-space: pre @important;
			overflow: hidden @important;
			margin-top: 1px @important;

			&:after {
				display: inline-block @important;
				content: ' ' @important;
				margin-right: 20px @important; 
			}

			+ label {
				z-index: 2 @important;
				font-size: 9pt @important;
				margin-left: -16px @important;
				margin-right: 0 @important;
				pointer-events: none @important;
				color: darken(@baseColor, 5%) @important;
				color: #fff;
				font-weight: bold @important;
				background: -webkit-linear-gradient(top, lighten(@baseColor, 15%), lighten(@baseColor, 2%));
				height: 18px @important;
				position: relative @important;
				top: -1px @important;
				border-top: 1px solid lighten(@baseColor, 5%) @important;
				border-right: 1px solid @baseColor @important;
				border-bottom: 1px solid darken(@baseColor, 4%) @important;
				border-top-right-radius: 4px @important;
				border-bottom-right-radius: 4px @important;
				-webkit-font-smoothing: antialiased @important;
				text-shadow: 0 0 0 rgba(255, 255, 255, 0.7);

				.yosemite& {
					top: -2px @important;
				}

				.jsb-large-font& {
					height: 21px @important;
					top: -4px @important;

					.yosemite& {
						top: -5px @important;
					}
				}

				&,
				&:before,
				&:after {
					width: 15px @important;
					display: inline-block @important;
					text-align: right @important;
				}

				&:before {
					content: '⌃' @important;
					-webkit-transform: translate(-1px, 0) scale(0.85) @important;

					.jsb-large-font& {
						-webkit-transform: translate(-1px, 1px) scale(0.85) @important;
					}
				}

				&:after {
					content: '⌃' @important;
					margin-left: -15px @important;
					-webkit-transform: translate(2px, 3px) scale(0.85) rotate(180deg) @important;

					.jsb-large-font& {
						-webkit-transform: translate(2px, 5px) scale(0.85) rotate(180deg) @important;
					}
				}
			}

			&:active {
				background: #f0f0f0;
				
				+ label {
					background: -webkit-linear-gradient(top, lighten(@baseColor, 7%), darken(@baseColor, 6%));
				}
			}

			&.select-cycle {
				+ label {
					&:before {
						content: '∞' @important;

						-webkit-transform: translate(3px, 3px) scale(1) rotate(180deg) @important;

						.jsb-large-font& {
							-webkit-transform: translate(3px, 4px) scale(1) rotate(180deg) @important;
						}
					}

					&:after {
						content: '' @important;
					}
				}

				&.select-custom-ready + label:before {
					-webkit-transform: translate(3px, 4px) scale(1) rotate(180deg) @important;

					.jsb-large-font& {
						-webkit-transform: translate(3px, 5px) scale(1) rotate(180deg) @important;
					}
				}
			}

			&:not(.css-is-dumb).select-single {
				background: none @important;
				border-color: transparent @important;
				box-shadow: none @important;
				padding-left: 2px @important;
				padding-right: 0 @important;

				+ label {
					visibility: hidden @important;
				}
			}
		}

		select:not(.select-single):not(.select-custom-ready):focus + label,
		.select-custom-input:focus + .select-wrapper > select + label {
			border-top-right-radius: 5px @important;
			border-bottom-right-radius: 5px @important;
			box-shadow: 0 1px 2px @focusShadow,
				0 1px 2px @focusShadow,
				0 1px 2px @focusShadow,
				0 -1px 2px @focusShadow,
				0 -1px 2px @focusShadow,
				0 -1px 2px @focusShadow,
				1px 0 0 darken(@focusShadow, 10%),
				2px 0 1px @focusShadow;
		}

		.select-custom-wrapper {
			display: -webkit-flex @important;
			-webkit-align-items: flex-start @important;

			.select-custom-input {
				-webkit-flex: 1 1 auto @important;
				position: relative @important;

				+ .select-wrapper {
					-webkit-flex: 0 0 15px @important;
					-webkit-align-self: flex-start @important;
					display: inline-block @important;
					margin-bottom: -2px @important;

					select {
						padding-left: 0 @important;
						padding-right: 0 @important;
						width: 15px @important;
						opacity: 0 @important;

						&:focus {
							&,
							& + label {
								box-shadow: none @important;
							}
						}

						&:not(.select-cycle) {
							+ label {
								&:before {
									content: '' @important;
								}

								&:after {
									-webkit-transform: translate(2px, 1px) scale(0.85) rotate(180deg) @important;

									.jsb-large-font& {
										-webkit-transform: translate(2px, 2px) scale(0.85) rotate(180deg) @important;
									}
								}
							}
						}
					}
				}

				&:not(input) + .select-wrapper select {
					position: relative @important;
					top: 0 @important;
					padding-top: 4px @important;
					padding-bottom: 4px @important;

					.jsb-large-font& {
						top: 1px @important;
						padding-bottom: 3px @important;
					}

					+ label {
						top: -4px @important;
						height: 19px @important;

						.jsb-large-font& {
							top: -7px @important;
							height: 21px @important;
						}
					}
				}
			}
		}

		.select-custom-options {
			li {
				white-space: pre @important;
				font-size: 0.9em @important;
				border-bottom: 1px solid rgba(0, 0, 0, 0.08) @important;
				cursor: pointer @important;
				padding: 4px 0 @important;

				&:last-child {
					border-bottom: none @important;
				}
			}
		}

		.select-custom-option {
			width: 200px @important;

			+ div {
				margin-top: 7px @important;
			}
		}

		.horizontal-divider {
			height: 1px @important;
			background: rgba(0, 0, 0, 0.08) @important;
			margin: 7px 0 @important;
		}

		.vertical-divider {
			display: inline-block @important;
			width: 1px @important;
			height: 100% @important;
			background: rgba(0, 0, 0, 0.08) @important;
			margin: 0 4px @important;
		}

		.generic-container {
			margin: 7px 0 @important;
		}

		.more-info {
			display: inline-block @important;
			height: 19px @important;
			width: 19px @important;
			border: 1px solid rgb(201, 201, 201) @important;
			border-bottom-color: rgb(173, 173, 173) @important;
			color: @baseColor @important;
			text-shadow: 0 0 0 lighten(@baseColor, 15%);
			border-radius: 20px @important;
			text-align: center @important;
			line-height: 20px @important;
			background: #fff @important;
			cursor: default @important;
			-webkit-user-select: none @important;
			font-family: Helvetica @important;
			font-weight: 500;
			box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05) @important;
			font-size: 1.2em @important;

			&:active {
				background: #f0f0f0 @important;
			}

			&:before {
				content: '?' @important;
			}

			.jsb-large-font& {

			}
		}
	}
}
