<!--
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2017 Travis Lee Roman
-->

<noscript id="help-container">
	<div id="help-toolbar" class="view-toolbar"></div>
	<div id="help-views-container" class="ui-view-container"></div>
</noscript>

<noscript id="help-faq-container">
	<div id="help-faq-toolbar" class="view-toolbar"></div>
	<div id="help-faq-views-container" class="ui-view-container"></div>
</noscript>

<noscript id="help-contact">
	<div id="help-contact" class="help-content">
		<ul class="generic-menu-options">
			<li class="dividing-border"><a href="javascript:UI.Feedback.showFeedbackPoppy();">From Here</a></li>
			<li class="dividing-border">Email: <a href="mailto:helpme@toggleable.com?subject=I need help with JSB5&amp;body=Please thoroughly describe the problem you are having. Include screenshots if you think it will help.">helpme@toggleable.com</a></li>
			<li>Google Plus/Hangouts: <a href="https://plus.google.com/+TravisRoman/about">Travis Roman</a></li>
		</ul>
	</div>
</noscript>

<noscript id="help-about">
	<div id="about-content">
		<h1><img src="../Icon-96.png" style="width:48px;height:48px" /> <a href="http://jsblocker.toggleable.com">JS Blocker</a> <%=Version.display%> (<%=Version.bundle%>)</h1>

		<p class="jsb-info">JS Blocker is open-source indie software created and developed by Travis Roman.</p>

		<div class="horizontal-divider"></div>

		<h2>Open-Source Software Used</h2>

		<p class="jsb-info">jQuery - <a href="http://jquery.com">http://jquery.com</a></p>
		<p class="jsb-info">lz-string - <a href="http://pieroxy.net/blog/pages/lz-string/index.html">http://pieroxy.net/blog/pages/lz-string/index.html</a></p>
		<p class="jsb-info">highlight.js - <a href="https://highlightjs.org">https://highlightjs.org</a></p>
		<p class="jsb-info">Less - <a href="http://lesscss.org">http://lesscss.org</a></p
		<p class="jsb-info">Promise - <a href="https://www.npmjs.com/package/promise">https://www.npmjs.com/package/promise</a></p>
		<p class="jsb-info">Crypto-JS - <a href="https://github.com/brix/crypto-js">https://github.com/brix/crypto-js</a></p>
		<p class="jsb-info">Socket.IO - <a href="https://github.com/socketio/socket.io-client">https://github.com/socketio/socket.io-client</a></p>
	</div>
</noscript>

<noscript id="help-privacy">
	<div id="privacy-content">
		<h1>Privacy Policy</h1>
		<p>Updated May 26, 2018</p>

		<p>This document outlines how JS Blocker ("JSB") collects and uses data.</p>

		<h2>General</h2>
		<p>JSB will occasionally check to see if an update is available by connecting to the server
			<b>https://hero.toggleable.com</b> ("JSB server"). Your IP address and user agent are sent
			along with each request, but your user agent isn't logged. JSB does not incorporate any
			type of analytics.</p>

		<h2>Filter Lists</h2>
		<p>JSB comes with filter lists that are downloaded from third-party servers. You can review
			the URLs of each list from <b>Settings > Rules > Filter Lists</b>. These lists are updated
			daily. You can choose to disable filter lists completely by unchecking them.</p>

		<h2>User Scripts</h2>
		<p>JSB does not come with any pre-installed user scripts. If and when you do add one, JSB may
			occasionally check for updates to them by connecting to the URL supplied in the scripts.</p>

		<h2>Submitting Feedback</h2>
		<p>You can choose to submit feedback by clicking <b>Menu > Submit Feedback</b>. When you do so,
			you are given the opportunity to supply your email address. Information submitted from the form
			is stored on the JSB server strictly for improving JSB. Browser version and operating system are
			included with your feedback. Your email address is never shared with any third-parties and is
			only required if you want a reply to your feedback.</p>

		<h2>Donations</h2>
		<p>When you donate via PayPal, Patreon, or BitCoin, the email address I receive the notification from will
			be saved on the JSB server for you to be able to activate JS Blocker's extra features. Your email
			address is never shared with any third-parties.</p>

		<h2>JSB Sync</h2>
		<p>JSB Sync is an optional feature of JSB that lets you synchornize your settings and rules
			with other computers.</p>
		<p>When you register to use it, your email address is submitted to the JSB server, but is never
			logged. It is stored on the JSB server as a hash. Your password is never transmitted to the
			JSB server.</p>
		<p>Your settings and rules are are encrypted locally and stored on the JSB server in a format
			that cannot be decrypted without your password (i.e. the information on the server is unreadable
			to anyone but you.)</p>
		<p>The JSB server will save the IP address you login with to ensure that the session is only usable
			by the original IP.</p>
	</div>
</noscript>

<noscript id="help-faq"></noscript>

<noscript id="help-faq-general">
	<div class="help-content">
		<input type="button" class="help-questions-hide-all blend-in jsb-smaller" value="<%=_('rules.hide_all')%>" /><q></q>
		<input type="button" class="help-questions-show-all blend-in jsb-smaller" value="<%=_('rules.show_all')%>" />

		<ul class="help-questions">
			<li>
				<header>
					<h4>Can I give you money?</h4>
				</header>

				<div class="help-question-answer">
					Why yes, you can! Just head over to the <a href="http://jsblocker.toggleable.com/donate">donation page</a> to
					learn how. Donating will grant you permanent access to all of JS Blocker's extra features. You'll receive a
					confirmation email once your donation has been processed. You can then unlock by opening <b>Menu</b> above
					and then clicking <b>Donate</b>.
				</div>
			</li>
			<li>
				<header>
					<h4>How do I uninstall this?</h4>
				</header>

				<div class="help-question-answer">
					Open Safari's preferences and go to the Extensions tab. On the sidebar, select <b>JS Blocker 5</b>. Then,
					on the right side, click <b>Uninstall</b>. All of your rules and settings will be deleted.
				</div>
			</li>
		</ul>
	</div>
</noscript>

<noscript id="help-faq-page">
	<div class="help-content">
		<input type="button" class="help-questions-hide-all blend-in jsb-smaller" value="<%=_('rules.hide_all')%>" /><q></q>
		<input type="button" class="help-questions-show-all blend-in jsb-smaller" value="<%=_('rules.show_all')%>" />

		<ul class="help-questions">
			<li>
				<header>
					<h4>How do I block or allow an item?</h4>
				</header>

				<div class="help-question-answer">
					Click on the item that you want to allow or block to switch to edit mode. The item will be checked off
					automatically. Choose any other items and then click <b>Save</b> to create the rules and reload the page.
				</div>
			</li>

			<li>
				<header>
					<h4>How do I look at the entire URL of an item instead of just the hostname?</h4>
				</header>

				<div class="help-question-answer">
					Open the <b>Page</b> menu above and check <b>Show resource URLs</b>.
				</div>
			</li>
		</ul>
	</div>
</noscript>

<noscript id="help-faq-rules">
	<div class="help-content">
		<input type="button" class="help-questions-hide-all blend-in jsb-smaller" value="<%=_('rules.hide_all')%>" /><q></q>
		<input type="button" class="help-questions-show-all blend-in jsb-smaller" value="<%=_('rules.show_all')%>" />

		<ul class="help-questions">
			<li>
				<header>
					<h4>From a trust notification, how can I trust the domain example.com instead of www.example.com?</h4>
				</header>

				<div class="help-question-answer">
					When you see the notification on the webpage, hold the option/alt key on your keyboard to
					reveal <b>Trust Domain</b> on the notification.
				</div>
			</li>

			<li>
				<header>
					<h4>I accidentally deleted or modified a rule! What can I do?</h4>
				</header>

				<div class="help-question-answer">
					Snapshots has you covered. Open the <b>Rules</b> menu above and then click <b>Snapshots</b>. You will
					see a list of dates, each of which contain your rules as they were on the given date. Click on a date
					to reveal options, including one to compare. By comparing the snapshot rules to your current rules, you
					will be able to easily see which ones you need to restore.
				</div>
			</li>
		</ul>
	</div>
</noscript>

<noscript id="help-faq-settings">
	<div class="help-content">
		<input type="button" class="help-questions-hide-all blend-in jsb-smaller" value="<%=_('rules.hide_all')%>" /><q></q>
		<input type="button" class="help-questions-show-all blend-in jsb-smaller" value="<%=_('rules.show_all')%>" />

		<ul class="help-questions">
			<li>
				<header>
					<h4>How do I import a backup?</h4>
				</header>

				<div class="help-question-answer">
					Open the <b>Settings</b> menu above and then click <b>Backup</b>. If you are importing
					a backup from JavaScript Blocker 4, click <b>Use alternative method</b> on the backup popup.
				</div>
			</li>
		</ul>
	</div>
</noscript>
