<noscript id="help-container">
	<div id="help-toolbar"></div>
	<div id="help-views-container" class="ui-view-container"></div>
</noscript>

<noscript id="help-page">
	<div class="help-content">
		<input type="button" class="help-questions-hide-all blend-in" value="<%=_('rules.hide_all')%>" /><q></q>
		<input type="button" class="help-questions-show-all blend-in" value="<%=_('rules.show_all')%>" />

		<ul class="help-questions">
			<li>
				<header>
					<h4>How do I block or allow an item?</h4>
				</header>

				<div class="help-question-answer">
					I dunno.
				</div>
			</li>

			<li>
				<header>
					<h4>How do I do that other thing?</h4>
				</header>

				<div class="help-question-answer">
					Press the button.
				</div>
			</li>

			<li>
				<header>
					<h4>How do I look at the entire URL of an item instead of just the hostname?</h4>
				</header>

				<div class="help-question-answer">
					Figure it out.
				</div>
			</li>
		</ul>
	</div>
</noscript>

<noscript id="help-faq">
	<div class="help-content">
		<h1>FAQ</h1>
	</div>		
</noscript>
