<noscript id="notification">
	<div class="jsb-notification <%=!globalPage.globalSetting.useAnimations ? 'jsb-no-animations' : ''%>" id="jsb-notification-<%=self.id || Utilities.Token.generate()%>">
		<div class="jsb-notification-toggle-layering" title="<%=self.title._entityQuotes()%>"></div>
		<div class="jsb-notification-content">
			<div class="jsb-notification-close-container"></div>
			<div class="jsb-notification-title jsb-info"><%=self.title%></div>
			<% if (self.subTitle) { %>
				<div class="jsb-notification-sub-title" title="<%=self.subTitle._entityQuotes()%>"><%=self.subTitle.substr(0, 100)%></div>
			<% } %>
			<div class="jsb-notification-body"><%=self.body%></div>
		</div>
	</div>
</noscript>

<noscript id="notification-close-wrapper">
	<div class="jsb-notification-close-wrapper">
		<input type="button" class="jsb-notification-close <%=self.primary? 'jsb-notification-primary-close-button' : ''%>" value="<%=self.value%>">
	</div>
</noscript>

<noscript id="javascript-alert">
	<p class="jsb-info"><%=self.body%></p>
</noscript>

<noscript id="first-visit">
	<p class="jsb-info"><%=_('first_visit.body', [_(self.isDomain ? 'first_visit.body.domain' : 'first_visit.body.host')])%></p>
</noscript>

<noscript id="install-user-script-prompt">
	<p class="jsb-info"><%=_('user_script.add_prompt')%></p>
	<p class="jsb-info">
		<input type="button" id="jsb-install-user-script" value="<%=_('user_script.add_script')%>" />
	</p>
</noscript>

<noscript id="xhr-prompt">
	<% var temporaryID = Utilities.Token.generate(); %>
	<div class="jsb-xhr-create-rule-prompt jsb-hidden">
		<input id="jsb-xhr-temporary-<%=temporaryID%>" class="jsb-xhr-temporary" type="checkbox" />
		<label for="jsb-xhr-temporary-<%=temporaryID%>"> <%=_('rule.make_this_temporary')%></label>
		<br />
		<span class="jsb-label"><%=_('rule.on')%> </span>
			<select class="jsb-xhr-on-domain">
				<option value="lion.toggleable.com:160">lion.toggleable.com:160</option>
				<option value=".toggleable.com:160">.toggleable.com:160</option>
				<option value=".*">All Domains</option>
		</select>
		<br />
		<select class="jsb-xhr-rule-action jsb-color-allow">
			<option value="1"><%=_('rule.allow')%></option>
			<option value="0"><%=_('rule.block')%></option>
		</select>
		<textarea class="jsb-xhr-rule-input" wrap="off" spellcheck="false">Loading...</textarea>
		<input type="button" class="jsb-xhr-rule-save jsb-bold" value="<%=_('Save')%>" />
		<br>
		<input type="button" class="jsb-xhr-rule-cancel" value="<%=_('Cancel')%>" />
		<br>
	</div>
	<div class="jsb-xhr-prompt">
		<div class="jsb-info">
			<input type="button" class="jsb-xhr-create-rule" value="<%=_('xhr.create_rule')%>" />
		</div>
		<% var sourceOrigin = Utilities.URL.origin(self.info.source),
					locationOrigin = Utilities.URL.origin(self.info.pageLocation);
		%>
		<div class="jsb-info jsb-xhr-path">
			<div class="jsb-label jsb-bold jsb-xhr-part-label">Path</div>
			<span class="jsb-indented"><%=((self.info.isFrame || sourceOrigin !== locationOrigin) ? Utilities.URL.origin(self.info.source)._escapeHTML() : '') + decodeURI(Utilities.URL.extractPath(self.info.source))._escapeHTML()%></span>
		</div>
		<% if (Utilities.typeOf(self.info.meta) === 'object' && !self.info.meta.data._isEmpty()) { %>
		<div class="jsb-info jsb-xhr-query">
			<div class="jsb-label jsb-bold jsb-xhr-part-label">Query</div>
			<% for (var param in self.info.meta.data) { %>
				<span class="jsb-indented">
					<span class="jsb-xhr-query-view">
						<span class="jsb-xhr-query-param" data-param="<%=encodeURIComponent(param)%>"><%=param._escapeHTML()%></span>: <span class="jsb-xhr-query-value" data-value="<%=encodeURIComponent(self.info.meta.data[param])%>"><%=self.info.meta.data[param] ? self.info.meta.data[param]._escapeHTML() : null%></span>
					</span>
					<span class="jsb-xhr-query-modify jsb-hidden">
						<input type="text" class="jsb-xhr-query-param-modify" spellcheck="false" data-for="data-param" value="<%=param._entityQuotes()%>" />:
						<input type="text" class="jsb-xhr-query-value-modify" spellcheck="false" data-for="data-value" value="<%=typeof self.info.meta.data[param] === 'string' ? self.info.meta.data[param]._entityQuotes() : self.info.meta.data[param]%>" />
					</span>
				</span>
				<br />
			<% } %>
		</div>
		<% } %>
	</div>
</noscript>
