<!--
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2017 Travis Lee Roman
-->

<noscript id="container">
	<div id="container">
		<div id="modal-overlay"></div>

		<div id="view-container">
			<div id="view-toolbar">
				<span id="full-toggle" data-poppyMenu="disable-menu" data-cancelForceBegin="1"><span class="poppy-menu-target"><span class="poppy-menu-target-text"><%=_('view_toolbar.disable')%></span></span></span>

				<%
					var mainSwitcher = Template.create('main', 'view-switcher', {
						id: 'main-views-switcher',
						container: '#main-views',
						views: {
							'#main-views-page': {
								value: _('view_toolbar.page'),
								poppy: 'page-menu'
							},
							'#main-views-resource-content': {
								hide: true,
								value: _('view_toolbar.resource')
							},
							'#main-views-rule': {
								value: _('view_toolbar.rules'),
								poppy: 'rule-menu'
							},
							'#main-views-snapshot': {
								hide: true,
								value: _('view_toolbar.snapshots')
							},
							'#main-views-setting': {
								value: _('view_toolbar.setting'),
								poppy: 'setting-menu'
							},
							'#main-views-setup': {
								hide: true,
								value: _('view_toolbar.setup')
							},
							'#main-views-help': {
								value: _('view_toolbar.help')
							}
						}
					}, true);
				%><%=mainSwitcher.html()%>

				<span id="open-menu" data-forceTriggersClick="1"><%=_('view_toolbar.menu')%></span>
				
				<div id="universal-progress-bar-container">
					<div id="universal-progress-bar"><div class="progress-bar-shine"></div></div>
				</div>
			</div>

			<div id="main-views" class="ui-view-container">
				<div id="main-views-page" class="ui-view">
					<div id="page-modal-info" class="jsb-hidden">
						<p class="jsb-info jsb-centered jsb-embossed">JS Blocker is disabled.</p>
					</div>
					<p class="snapshot-info jsb-info"></p>
					<div id="page-state-container"></div>
				</div>

				<div id="main-views-rule" class="ui-view">
					<p class="snapshot-info jsb-info"></p>
					<div id="rules"></div>
				</div>

				<div id="main-views-snapshot" class="ui-view"></div>

				<div id="main-views-resource-content" class="ui-view">
					<p class="jsb-info">RESOURCE CONTENT VIEW</p>
				</div>

				<div id="main-views-help" class="ui-view"></div>

				<div id="main-views-setting" class="ui-view"></div>

				<div id="main-views-setup" class="ui-view"></div>
			</div>
		</div>

		<div id="too-old">
			<p class="jsb-info jsb-centered">JS Blocker 5 requires Safari 6.1 or greater.</p>
			<p class="jsb-info jsb-centered">You can use <a href="http://javascript-blocker.toggleable.com/">JavaScript Blocker 4</a> instead.</p>
		</div>

		<div class="popover-resize popover-resize-right"></div>
		<div class="popover-resize popover-resize-left"></div>
		<div class="popover-resize popover-resize-bottom"></div>
	</div>
</noscript>

<noscript id="view">
	<div class="ui-view" id="<%=self.prefix%>-<%=self.viewID%>" data-section="<%=self.viewID%>"></div>
</noscript>

<noscript id="view-switcher">
	<div id="<%=self.id || ''%>" class="view-switcher-container <%=self.mini ? 'mini' : ''%>">
		<ul class="view-switcher" data-container="<%=self.container%>"><% for (var viewID in self.views) { %><li data-view="<%=viewID%>" data-cancelForceBegin="1" <%=self.views[viewID].poppy ? ('data-poppyMenu="' + self.views[viewID].poppy + '"') : ''%> class="<%=self.views[viewID].hide ? 'view-switcher-hidden view-switcher-collapses' : ''%>" <%=self.views[viewID].hide ? 'aria-hidden="true"' : ''%>><span class="view-switcher-item-container <%=self.views[viewID].poppy ? 'poppy-menu-target' : ''%>"><span class="view-switcher-item-name"><%=self.views[viewID].value%></span><span class="view-switcher-item-badge"></span></span></li><% } %></ul>
	</div>
</noscript>

<noscript id="jsb-info">
	<p class="jsb-info"><%=self.string%></p>
</noscript>

<noscript id="jsb-readable">
	<% if (self.header) { %>
		<h3 class="jsb-centered"><%=self.header%></h3><%
	} %>
	<p class="jsb-info jsb-readable"><%=self.string%></p>
</noscript>

<noscript id="paginator-wrapper">
	<div class="paginator-wrapper">
		<div class="paginator-controller jsb-hidden">
			<span class="paginator-controller-count">
				<span class="paginator-controller-count-from">0</span>–<span class="paginator-controller-count-to">0</span> of <span class="paginator-controller-count-of">0</span>
			</span>
			<span class="paginator-controller-buttons">
				<input type="button" class="paginator-controller-previous blend-in jsb-hidden" value="▶︎"><input type="button" class="paginator-controller-next blend-in" value="▶">
			</span>
			<span class="paginator-controller-filler"></span>
		</div>
		<div class="paginator-pages-container"></div>
		<div class="paginator-controller jsb-hidden">
			<span class="paginator-controller-count">
				<span class="paginator-controller-count-from">0</span>–<span class="paginator-controller-count-to">0</span> of <span class="paginator-controller-count-of">0</span>
			</span>
			<span class="paginator-controller-buttons">
				<input type="button" class="paginator-controller-previous blend-in jsb-hidden" value="▶︎"><input type="button" class="paginator-controller-next blend-in" value="▶">
			</span>
			<span class="paginator-controller-filler"></span>
		</div>
	</div>
</noscript>
