<noscript id="container">
	<div id="container">
		<div id="modal-overlay">

		</div>

		<div id="view-container">
			<div id="view-toolbar">
				<span id="full-toggle" data-disable="1"><%=_('view_toolbar.disable')%></span>

				<%
					var mainSwitcher = Template.create('main', 'view-switcher', {
						container: '#main-views',
						views: {
							'#page-view': {
								value: _('view_toolbar.page')
							},
							'#resource-content-view': {
								hide: true,
								value: _('view_toolbar.resource')
							},
							'#help-view': {
								hide: true,
								value: _('view_toolbar.help')
							},
							'#setting-view': {
								hide: true,
								value: _('view_toolbar.setting')
							},
							'#welcome-view': {
								hide: true,
								value: _('view_toolbar.welcome')
							},
							'#about-view': {
								hide: true,
								value: _('main_menu.about')
							},
							'#rule-view': {
								value: _('view_toolbar.rules')
							},
							'#snapshot-view': {
								value: _('view_toolbar.snapshots')
							}
						}
					}, true);
				%><%=mainSwitcher.html()%>

				<span id="open-menu"><%=_('view_toolbar.menu')%></span>
			</div>

			<div id="main-views">
				<div id="page-view" class="ui-view">
					<div id="page-modal-info" class="jsb-hidden">
						<p class="jsb-info jsb-centered jsb-embossed">JavaScript Blocker is disabled.</p>
					</div>
					<p class="snapshot-info jsb-info"></p>
					<div id="page-state-container"></div>
				</div>

				<div id="rule-view" class="ui-view">
					<p class="snapshot-info jsb-info"></p>
					<div id="rules">RULE VIEW</div>
				</div>

				<div id="snapshot-view" class="ui-view">
					<p class="jsb-info">SNAPSHOT VIEW</p>
				</div>

				<div id="resource-content-view" class="ui-view">
					<p class="jsb-info">RESOURCE CONTENT VIEW</p>
				</div>

				<div id="help-view" class="ui-view">
					<p class="jsb-info">HELP VIEW</p>
				</div>

				<div id="setting-view" class="ui-view"></div>

				<div id="welcome-view" class="ui-view">
					<p class="jsb-info">WELCOME VIEW</p>
				</div>

				<div id="about-view" class="ui-view">
					<p class="jsb-info">ABOUT VIEW</p>
				</div>
			</div>
		</div>

		<div id="too-old">
			<p class="jsb-info jsb-centered">JavaScript Blocker 5 requires Safari 6.1 or greater.</p>
			<p class="jsb-info jsb-centered">You can use <a href="http://javascript-blocker.toggleable.com/">JavaScript Blocker 4</a> instead.</p>
		</div>
	</div>
</noscript>

<noscript id="view-switcher">
	<div class="view-switcher-container">
		<ul class="view-switcher" data-container="<%=self.container%>">
		<% for (var viewID in self.views) { %><li data-view="<%=viewID%>" class="<%=self.views[viewID].hide ? 'view-switcher-hidden' : ''%>"><span class="view-switcher-item-container"><%=self.views[viewID].value%><span class="view-switcher-item-notification"></span></span></li><% } %>
		</ul>
	</div>
</noscript>

<noscript id="jsb-readable">
	<p class="jsb-info jsb-readable"><%=self.string%></p>
</noscript>
