<noscript id="host-section">
	<div class="page-host-section" data-id="<%=self.id%>">
		<div class="page-host-header">
			<span class="page-host-type"><%=self.isFrame ? 'Frame' : 'Top'%></span><span class="page-host-host"><%=self.host%></span><span class="page-host-hidden-count">4 hidden items</span>
			<input type="button" class="page-host-edit" value="<%=_('view.page.host.edit')%>" />
		</div>

		<%
			if (self.blockedByFirstVisit && self.blockedByFirstVisit.action !== 8) { %>
				<div class="page-host-first-visit">
					<span class="more-info"></span>
					<p class="jsb-info">
						<%=_('first_visit.body', [_(Settings.getItem('blockFirstVisit') === 'domain' ? 'first_visit.body.domain' : 'first_visit.body.host')])%>
					</p>
					<p class="jsb-info"><%=_('first_visit.gray_items')%></p>
					<p class="jsb-info jsb-align-right">
						<input type="button" class="page-host-first-visit-keep-blocked jsb-color-blocked" value="<%=_('first_visit.keep_blocked')%>" />&nbsp;
						<input type="button" class="page-host-first-visit-unblock jsb-color-allowed" value="<%=_('first_visit.unblock')%>" />&nbsp;
					</p>
				</div><%
			} %>

		<div class="page-host-editor">
			<span class="more-info"></span>
			<div class="jsb-info">
				<select class="page-host-editor-duration">
					<option value="always">Always</option>
					<option value="temporarily">Temporarily</option>
				</select><label></label>

				<select class="page-host-editor-kind">
					<%
						if (!self.disabled) { %>
							<option value="block/allow">block/allow</option>
							<option value="hide">hide</option><%
						} %>
					<option value="enable">enable</option>
					<option value="disable">disable</option>
				</select><label></label>

				<span class="page-host-editor-kind-subtext"><%=self.disabled ? _('JSB') : _('view.page.host.editor.selected_items')%></span>
			</div>

			<div class="jsb-info page-host-editor-bottom">
				<div class="page-host-editor-where-wrapper">
					<select class="page-host-editor-where">
						<option value="domain-all">on all domains</option>
						<option value="domain-0" data-domain="<%=self.host%>" selected="selected">on <%=self.host%></option>
						<%
							var hostParts = Utilities.URL.hostParts(self.host);

							for (var i = 0; i < hostParts.length; i++) { %>
								<option value="domain-<%=i + 1%>" data-domain=".<%=hostParts[i]%>">within <%=hostParts[i]%></option><%
							} %>
					<%
						for (var i = 0; i < self.locations.length; i++) {
							if (self.locations[i] === 'about:blank')
								continue;

							var pageParts = Utilities.URL.pageParts(self.locations[i]);

							if (pageParts.parts.length > 0) { %>
								<optgroup label="<%=(pageParts.parts[1] || pageParts.parts[0])._entityQuotes()%>" data-location="<%=self.locations[i]._entityQuotes()%>"><%

								for (var b = (pageParts.parts[1] ? 1 : 0); b < pageParts.parts.length; b++) { %>
									<option value="page-<%=b%>" data-page="<%=pageParts.parts[b]._entityQuotes()%>">on <%=pageParts.parts[b]._escapeHTML()%></option><%
								}

								if (pageParts.search.length) { %>
									<option value="page-search" data-page="<%=pageParts.pageSearch._entityQuotes()%>">on <%=pageParts.pageSearch._escapeHTML()%></option><%
								}

								if (pageParts.hash.length) { %>
									<option value="page-hash" data-page="<%=pageParts.pageHash._entityQuotes()%>">on <%=pageParts.pageHash._escapeHTML()%></option><%
								} %>
								</optgroup><%
							}
						} %>
					</select><label></label>
				</div>

				<div class="page-host-editor-create-wrapper">
					<input type="button" class="page-host-editor-create" value="Create Rules" />
				</div>
			</div>
		</div>

		<% if (self.disabled) {
				if (self.disabled.action > -1) { %>
					<div class="page-host-disabled">
						<p class="jsb-info jsb-centered jsb-embossed"><%=_('view.page.host.disabled')%></p>
					</div><%
				}
		} else { %>
			<div class="page-host-columns">
				<%=Template.create('page', 'host-column', {
					stateType: 'allowed',
					state: self.state.allowed || {}
				}, null, true)%>
				<%=Template.create('page', 'host-column', {
					stateType: 'blocked',
					state: self.state.blocked || {}
				}, null, true)%>
			</div>

			<% if (self.state.unblocked) {
				var unblockedKeys = Object.keys(self.state.unblocked);

				unblockedKeys._remove(unblockedKeys.indexOf('script'));

				if (Settings.getItem('showUnblockedScripts') || unblockedKeys.length) { %>
					<%=Template.create('page', 'host-unblocked', {
						stateType: 'unblocked',
						state: self.state.unblocked
					}, null, true)%><%
				}
			}
		} %>
	</div>
</noscript>

<noscript id="host-column">
	<div class="page-host-column page-host-column-<%=self.stateType%>" data-state="<%=self.stateType%>">
		<%=Template.create('page', 'host-items-container-header', self, null, true)%>
		<%=Template.create('page', 'host-items-container', self, null, true)%>
	</div>
</noscript>

<noscript id="host-items-container-header">
	<div class="page-host-items-container-header" data-expander="> label">
		<label class="jsb-color-<%=self.stateType%>"><%=_('view.page.host.column.' + self.stateType)%></label>
		<%
			var pageLocation,
					items;

			var	itemCount = 0;

			for (var kind in self.state) {
				if (self.stateType === 'unblocked' && kind === 'script' && !Settings.getItem('showUnblockedScripts'))
					continue;

				if (globalPage.Rules.kindShouldBadge(kind)) {
					if ((self.stateType === 'unblocked' && kind === 'script') || Settings.getItem('showResourceURLs')) {
						if (self.state[kind].source) {
							items = [];

							for (pageLocation in self.state[kind].source) {
								items._pushAll(Object.keys(self.state[kind].source[pageLocation])._unique());
							}

							itemCount += items._unique().length;
						}
					} else if (self.state[kind].hosts) {
						itemCount += Object.keys(self.state[kind].hosts).length;
					}
				}
			}
		%>
		<span class="page-host-state-count"><%=itemCount%></span>
		<span class="page-host-state-count-type">
			<% if (self.stateType === 'unblocked' || Settings.getItem('showResourceURLs')) { %>
				<%=_('view.page.host.count_type.item' + (itemCount === 1 ? '' : 's'))%>
			<% } else { %>
				<%=_('view.page.host.count_type.host' + (itemCount === 1 ? '' : 's'))%>
			<% } %>
		</span>
	</div>
</noscript>

<noscript id="host-items-container">
	<div class="page-host-items-container" data-stateType="<%=self.stateType%>">
		<%
			var kindArray = Object.keys(self.state)._sortUsingArray(globalPage.Rules.__kinds),
					actionGroup = {};

			for (var i = 0; i < kindArray.length; i++) { 
				var kind = kindArray[i],
						actionGroup = {};

				if (self.stateType === 'unblocked' && kind === 'script' && !Settings.getItem('showUnblockedScripts'))
					continue;
				%>

				<header class="page-host-kind" data-expander="> a">
					<h4><%=_('view.page.host.kind.' + kind )%></h4>
				</header>

				<ul class="page-host-items" data-kind="<%=kind%>">
					<% 
						for (var pageLocation in self.state[kind].source) {
							for (var source in self.state[kind].source[pageLocation]) {
								var sourceInfo = self.state[kind].source[pageLocation][source],
										protocol = Utilities.URL.protocol(source);

								for (var resourceID in sourceInfo) {
									var resource = sourceInfo[resourceID];

									actionGroup
										._getWithDefault(resource.action, {})
										._getWithDefault(resource.sourceIsURL && protocol ? protocol : 'none:', {})
										._getWithDefault(resource.sourceIsURL && !Settings.getItem('showResourceURLs') ? resource.sourceHost : resource.fullSource, [])
										.push({
											resourceID: resourceID,
											resource: resource
										});
								}
							}
						}

						for (var action in actionGroup) {
							for (var protocol in actionGroup[action]) {
								for (var source in actionGroup[action][protocol]) {
									var resources = actionGroup[action][protocol][source],
											resource = resources[0].resource;

									var resourceIDs = resources.map(function (value, i) {
										return value.resourceID;
									});
								%>

									<li
										class="page-host-item"
										data-resourceIDs="<%=JSON.stringify(resourceIDs)._entityQuotes()%>"
										data-host="<%=resource.sourceHost._entityQuotes()%>"
										data-protocol="<%=protocol%>"
										data-action="<%=action%>"
									>
										<%
											if (kind === 'user_script') {
												var sourceName = globalPage.UserScript.scripts.getStore(source).getStore('attributes').get('meta', {}).name || 'UNKNOWN';
											} else {
												var sourceName = source;
											}
										%>

										<div class="page-host-item-edit-container jsb-hidden">
											<div class="page-host-item-edit-check-wrapper">
												<input type="checkbox" class="page-host-item-edit-check" />
											</div>
											<div class="page-host-item-edit-select-wrapper">
												<select class="page-host-item-edit-select <%=globalPage.Rules.kindShouldBadge(kind) ? '' : 'select-single'%>">
													<option><%=sourceName._escapeHTML()%></option>
												</select><label></label>
											</div>
										</div>

										<div class="page-host-item-container">
											<% if (self.stateType !== 'unblocked' || kind !== 'script') { %>
												<span class="page-host-item-info more-info"></span>
											<% } %>
											<span class="page-host-item-source-container">
												<span class="page-host-item-source"><%=$.trim(sourceName._escapeHTML().replace(/([\n\t]|  +)/g, ' '))%></span>
											</span>
											<%
												if (self.state[kind].hosts && self.state[kind].hosts[source]) { %>
													<span class="page-host-host-count-container">
														<a href="javascript:void(0);" class="page-host-host-count"><%=resourceIDs.length%></a>
													</span>
											<% } %>
										</div>
										<div class="page-host-item-description">
											<!-- <p class="jsb-info">Domain description that is quite long indeed</p> -->
										</div>
									</li>

								<%
								}
							}
						}
					%>
				</ul>
		<% } %>
	</div>
</noscript>

<noscript id="host-unblocked">
	<div class="page-host-unblocked">
		<%=Template.create('page', 'host-items-container-header', self, null, true)%>
		<%=Template.create('page', 'host-items-container', self, null, true)%>
	</div>
</noscript>

<noscript id="modal-info">
	<p class="jsb-info jsb-centered jsb-embossed"><%=self.info%></p>
</noscript>
