<noscript id="poppy">
	<div id="poppy-<%=self.id%>" class="poppy" data-id="<%=self.id%>">
		<input type="button" class="poppy-close" value="<%=_('Close')%>" />
		<div class="poppy-content"></div>
		<div class="poppy-arrow"></div>
		<div class="poppy-arrow-settings"></div>
		<div class="poppy-arrow-settings-up"></div>
	</div>
</noscript>

<noscript id="main-menu">
	<h3 class="jsb-centered">JavaScript Blocker <%=Version.display%></h3>
	<div id="main-menu" class="generic-menu">
		<div class="generic-menu-menu">
			<input type="button" id="main-menu-contribute" class="jsb-color-blocked" value="<%=_('main_menu.unlock')%>" />
			<input type="button" id="main-menu-about" value="<%=_('main_menu.about')%>" />
			<%
				var messageHistory = Utilities.messageHistory(),
						messageCount = messageHistory.error.length + messageHistory.debug.length; %>
		</div>
		<div class="horizontal-divider"></div>
		<div id="main-menu-console-info">
			<input type="button" id="main-menu-console" value="<%=_('main_menu.console')%>" />
			<span id="main-menu-console-message-count"><%=_('main_menu.console.message' + (messageCount === 1 ? '' : 's'), [messageCount])%></span> 
		</div>
	</div>
</noscript>

<noscript id="page-menu">
	<h3 class="jsb-centered"><%=_('view_toolbar.page')%></h3>
	<div id="page-menu" class="generic-menu">
		<ul class="generic-menu-options">
			<li><input type="checkbox" id="page-menu-show-hidden" /> <label for="page-menu-show-hidden"><%=_('page_menu.show_hidden')%></label></li>
			<li><input type="checkbox" id="page-menu-show-unblocked-scripts" /> <label for="page-menu-show-unblocked-scripts"><%=_('page_menu.show_unblocked_scripts')%></label></li>
			<li><input type="checkbox" id="page-menu-show-resource-url" /> <label for="page-menu-show-resource-url"><%=_('page_menu.show_resource_url')%></label></li>
		</ul>
	</div>
</noscript>

<noscript id="rule-menu">
	<h3 class="jsb-centered">Rules</h3>
</noscript>

<noscript id="console">
	<div id="console-container">
		<h3 class="jsb-centered"><%=_('main_menu.console')%></h3>
		<input type="button" id="console-clear" value="<%=_('console.clear')%>" />
		<input type="button" id="console-report" value="<%=_('console.report')%>" />
		<ul class="console">
			<li><h4 class="jsb-centered"><%=_('console.error_messages')%></h4></li>
		<%
			var messageHistory = Utilities.messageHistory();

			if (!messageHistory.error.length) { %>
				<li class="jsb-centered"><span class="console-error-message jsb-smaller"><%=_('console.no_messages')%></span></li><%
			} else {
				for (var i = 0; i < messageHistory.error.length; i++) {
					%><li>
							<span class="console-error-message"><%=messageHistory.error[i].message.join(' ')%></span>
							<% if (i !== messageHistory.error.length - 1) %>
								<div class="horizontal-divider"></div>
						</li><%
					if (messageHistory.error[i].stack.length) { %>
						<li>
							<span class="console-error-stack">Stack: <%=messageHistory.error[i].stack%></span>
						</li><%
					}
				}
			}
		%>
		</ul>
		<ul class="console">
			<li><h4 class="jsb-centered"><%=_('console.debug_messages')%></h4></li>
		<%
			if (!messageHistory.debug.length) { %>
				<li class="jsb-centered"><span class="console-debug-message jsb-smaller"><%=_('console.no_messages')%></span></li><%
			} else {
				for (var i = 0; i < messageHistory.debug.length; i++) {
					%><li>
							<span class="console-debug-message"><%=messageHistory.debug[i]%></span>
							<% if (i !== messageHistory.debug.length - 1) %>
								<div class="horizontal-divider"></div>
						</li><%
				}
			}
		%>
		</ul>
	</div>
</noscript>

<noscript id="select-custom-options">
	<h3 class="jsb-centered"><%=_('select.options')%></h3>
	<ul class="select-custom-options"><%
		self.options.each(function () { %>
			<li data-value="<%=this.value._entityQuotes()%>"><%=this.innerText._escapeHTML()%></li><%
		}); %>
	</ul>
</noscript>

<noscript id="select-custom-option">
	<h3 class="jsb-centered"><%=_('select.add_custom_option')%></h3>
	<input type="text" class="select-custom-option trigger-on-enter" value="<%=self.default ? self.default._entityQuotes() : ''%>" />
	<div class="jsb-align-right">
		<input type="button" class="select-custom-option-cancel" value="Cancel" />
		<input type="button" class="select-custom-option-save on-enter" value="Use Option" />
	</div>
</noscript>
