<!--
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2017 Travis Lee Roman
-->

<noscript id="poppy">
	<div id="poppy-<%=self.id%>" class="poppy" data-id="<%=self.id%>">
		<input type="button" class="poppy-close" value="<%=_('Close')%>" />
		<div class="poppy-content"></div>
		<div class="poppy-arrow"></div>
		<div class="poppy-arrow-settings"></div>
		<div class="poppy-arrow-settings-up"></div>
	</div>
</noscript>

<noscript id="main-menu">
	<h3 class="jsb-centered">JS Blocker <%=Version.display%></h3>

	<div id="main-menu" class="generic-menu">
		<div class="generic-menu-menu jsb-align-right">
			<input type="button" id="main-menu-submit-feedback" value="<%=_('main_menu.submit_feedback')%>" />
			<input type="button" id="main-menu-about" value="<%=_('help.about')%>" />
			<% if (!Extras.isUnlockedByDonating()) { %>
				<input type="button" id="main-menu-unlock" class="jsb-color-blocked" value="<%=_(Extras.isUnlockedForFree() ? 'main_menu.donate' : 'main_menu.unlock')%>" /><%
			} %>
		</div>

		<div class="horizontal-divider"></div>

		<div id="main-menu-console-info" class="jsb-align-right">
			<input type="button" id="main-menu-console" value="<%=_('main_menu.console')%>" data-forceTriggersClick="1" />
			<%
				var messageHistory = Utilities.messageHistory(),
						messageCount = messageHistory.error.length + messageHistory.debug.length; %>
			<span id="main-menu-console-message-count"><%=_('main_menu.console.message'._pluralize(messageCount), [messageCount])%></span> 
		</div>

		<%=Template.create('poppy', 'progress-bar', {
			percent: 0,
			timeRemaining: '',
			description: '',
			topDivider: true
		}, true).html()%>
	</div>
</noscript>

<noscript id="disable-menu">
	<h3 class="jsb-centered"><%=_('view_toolbar.disable')%></h3>

	<% if (Settings.isLocked()) { %>
		<p class="jsb-readable"><%=_('settings.locked')%></p><%
	} else { %>
		<div id="disable-menu" class="generic-menu">
			<div class="generic-menu-menu">
				<%=UI.Settings.createElementForSetting(Settings.map.disableTime, 'disable-menu-for').html()%><q></q>
				<input type="button" id="disable-menu-for-disable" value="<%=_('view_toolbar.disable')%>" />
			</div>

			<div class="horizontal-divider"></div>

			<ul class="generic-menu-options">
				<%
					var settings = ['disablingReloadsAll', 'persistDisabled', 'alwaysUseTimedDisable'];

					for (var i = settings.length; i--;) { %>
						<li><%=UI.Settings.createElementForSetting(Settings.map[settings[i]]).html()%></li><%
					} %>
			</ul>
		</div><%
	} %>
</noscript>

<noscript id="page-menu">
	<h3 class="jsb-centered"><%=_('view_toolbar.page')%></h3>

	<div id="page-menu" class="generic-menu">
		<ul class="generic-menu-options">
			<%
				var showResourceURLs = Settings.getItem('showResourceURLs'),
						showResourceURLsOnNumberClick = Settings.getItem('showResourceURLsOnNumberClick'),
						settings = ['showItemDescription', 'showHiddenItems'];

				if (showResourceURLs || !showResourceURLsOnNumberClick) {
					settings.unshift('showResourceURLs');
				}

				if (!showResourceURLs) {
					settings.unshift('showResourceURLsOnNumberClick');
				}

				settings.unshift('showUnblockedScripts');

				for (var i = settings.length; i--;) { %>
					<li><%=UI.Settings.createElementForSetting(Settings.map[settings[i]]).html()%></li><%
				} %>
		</ul>
	</div>
</noscript>

<noscript id="rule-menu">
	<h3 class="jsb-centered"><%=_('view_toolbar.rules')%></h3>

	<div id="rule-menu" class="generic-menu">
		<ul class="generic-menu-options generic-menu-menu">
			<% if (!globalPage.Rules.isLockerLocked() && !globalPage.Rules.list.temporary.rules.isEmpty()) { %>
				<li class="jsb-align-right">
					<input type="button" id="rule-menu-delete-temporary" value="<%=_('rule_menu.clear_temporary')%>" />
					<div class="horizontal-divider"></div>
				</li>
			<% } %>

			<li class="jsb-align-right">
				<% if (!globalPage.Rules.isLockerLocked()) { %>
					<input type="button" id="rule-menu-open-snapshots" value="<%=_('view_toolbar.snapshots')%>" /><%
				} %>
				<% if (globalPage.Rules.snapshotInUse()) { %>
					<input type="button" id="rule-menu-close-snapshot" value="<%=_('snapshots.close_snapshot')%>" /><%
				} %>
				<% if (Locker.isEnabled()) { %>
					<input type="button" id="rule-menu-lock" value="<%=_(globalPage.Rules.isLockerLocked() ? 'Unlock' : 'Lock')%>" /><%
				} %>
			</li>
		</ul>
	</div>
</noscript>

<noscript id="active-rules-menu">
	<h3 class="jsb-centered"><%=_('rules.active_rules')%></h3>

	<% if (globalPage.Rules.isLocked()) { %>
		<p class="jsb-readable"><%=_('view.page.host.rules_locked')%></p><%
	} else { %>
		<div class="generic-menu jsb-align-right">
			<input type="button" id="active-menu-new" value="<%=_('active_menu.new')%>" />
			<input type="button" id="active-menu-clear" value="<%=_('temporary_menu.clear')%>" />
		</div><%
	} %>
</noscript>

<noscript id="firstVisit-rules-menu"></noscript>

<noscript id="snapshot-rules-menu">
	<h3 class="jsb-centered"><%=_('rules.snapshot_rules')%></h3>

	<% if (globalPage.Rules.isLockerLocked()) { %>
		<p class="jsb-readable"><%=_('view.page.host.rules_locked')%></p><%
	} else { %>
		<div class="generic-menu">
			<ul class="generic-menu-options">
				<li>
				<%
					var header;

					var snapshotInfo = globalPage.Rules.list.active.snapshot,
							comparison = snapshotInfo.comparison;

					if (comparison && comparison.side === 'left')
						header = 'snapshots.only_always';
					else if (comparison && comparison.side === 'right')
						header = 'snapshots.only_snapshot';
					else if (comparison && comparison.side === 'both')
						header = 'snapshots.in_both';
					else
						header = 'snapshots.snapshot';
				%>
					<span><%=_(header, [snapshotInfo.name._escapeHTML()])%></span>
					<div class="horizontal-divider"></div>
				</li>

				<li class="jsb-align-right">
					<input type="button" id="snapshot-menu-merge-always" value="<%=_('snapshot_menu.merge_always')%>" />
					<input type="button" id="snapshot-menu-make-always" value="<%=_('temporary_menu.make_always')%>" />
					<input type="button" id="snapshot-menu-close" value="<%=_('Close')%>" />
				</li>
			</ul>
		</div><%
	} %>

	<div class="horizontal-divider"></div>

	<%=Template.create('poppy.snapshots', 'snapshot-item-compare', true, null, true)%>
</noscript>

<noscript id="temporary-rules-menu">
	<h3 class="jsb-centered"><%=_('rules.temporary_rules')%></h3>

	<% if (globalPage.Rules.isLockerLocked()) { %>
		<p class="jsb-readable"><%=_('view.page.host.rules_locked')%></p><%
	} else { %>
		<div class="generic-menu jsb-align-right">
			<input type="button" id="temporary-menu-new" value="<%=_('active_menu.new')%>" />
			<input type="button" id="temporary-menu-make-always" value="<%=_('temporary_menu.make_always')%>" />
			<input type="button" id="temporary-menu-clear" value="<%=_('temporary_menu.clear')%>" />
		</div><%
	} %>
</noscript>

<noscript id="filter-rules-menu">
	<h3 class="jsb-centered"><%=_('rules.filter_lists')%></h3>

	<div class="generic-menu">
		<ul class="generic-menu-options">
			<%
				var filterLists = UI.Rules.getFilterLists();

				for (var i = 0; i < filterLists.length; i++) { %>
					<li data-filterList="<%=filterLists[i]%>">
						<a href="javascript:void(0);" class="no-underline"><%=UI.Rules.getFilterListName(filterLists[i])%></a><%

						if (i < filterLists.length - 1) { %>
							<div class="horizontal-divider"></div><%
						} %>
					</li><%
				} %>
		</ul>
	</div>
</noscript>

<noscript id="firstVisit-rules-menu">
	<h3 class="jsb-centered"><%=_('rules.firstVisit_rules')%></h3>

	<div class="generic-menu jsb-align-right">
		<input type="button" id="firstVisit-menu-clear" value="<%=_('temporary_menu.clear')%>" />
	</div>
</noscript>

<noscript id="setting-menu">
	<h3 class="jsb-centered"><%=_('view_toolbar.setting')%></h3>

	<% if (Settings.isLocked()) { %>
		<div class="jsb-align-right">
			<input id="setting-menu-lock" type="button" value="<%=_('Unlock')%>" />
		</div><%
	} else { %>
		<div class="generic-menu">
			<ul class="generic-menu-options generic-menu-menu">
				<li class="jsb-align-right">
					<% if (globalPage.SyncClient.SRP.isLoggedIn()) { %>
						<input id="setting-menu-sync-now" type="button" value="<%=_('sync.sync_now')%>" <%=globalPage.SyncClient.Settings.busy ? 'disabled="disabled"' : ''%>/><%
					} %>
					<input id="setting-menu-backup" type="button" value="<%=_('setting_menu.backup')%>" />
					<% if (Locker.isEnabled()) { %>
						<input id="setting-menu-lock" type="button" value="<%=_('Lock')%>" /><%
					} %>
					<div class="horizontal-divider"></div>
				</li>
				<li class="jsb-align-right">
					<input id="setting-menu-restore-defaults" class="<%=Locker.isLocked('importBackupSettings') ? '' : 'double-click'%>" type="button" value="<%=_('settings.restore_defaults')%>" />
				</li>
			</ul>
		</div><%
	} %>
</noscript>

<noscript id="console">
	<div id="console-container">
		<h3 class="jsb-centered"><%=_('main_menu.console')%></h3>

		<input type="button" id="console-clear" value="<%=_('console.clear')%>" />
		<input type="button" id="console-report" value="<%=_('console.report')%>" />
		<input type="checkbox" id="console-debug-mode" <%=window.globalSetting.debugMode ? 'checked="checked"' : ''%> /> <label for="console-debug-mode"><%=_('console.debug_mode')%></label>
		
		<div class="horizontal-divider"></div>

		<div id="console-messages" class="split-view" data-splitView="consoleMessages">
			<div class="split-view-left">
				<h4 class="jsb-centered"><%=_('console.error_messages')%></h4>

				<ul class="console">
				<%
					var messageHistory = Utilities.messageHistory();

					if (!messageHistory.error.length) { %>
						<li class="jsb-centered"><span class="console-error-message jsb-smaller"><%=_('console.no_messages')%></span></li><%
					} else {
						for (var i = 0; i < messageHistory.error.length; i++) {
							%><li>
									<span class="console-error-message"><%=messageHistory.error[i].message.join(' ')._escapeHTML().replace(/\n/g, '<br>').replace(/\t/g, '&nbsp;&nbsp;')%></span>
									<% if (i !== messageHistory.error.length - 1) %>
										<div class="horizontal-divider"></div>
								</li><%
							if (messageHistory.error[i].stack.length) { %>
								<li>
									<span class="console-error-stack">Stack: <%=messageHistory.error[i].stack._escapeHTML().replace(/\n/g, '<br>').replace(/\t/g, '&nbsp;&nbsp;')%></span>
								</li><%
							}
						}
					}
				%>
				</ul>
			</div>
			<div class="split-view-right">
				<h4 class="jsb-centered"><%=_('console.debug_messages')%></h4>

				<ul class="console">
				<%
					if (!messageHistory.debug.length) { %>
						<li class="jsb-centered"><span class="console-debug-message jsb-smaller"><%=_('console.no_messages')%></span></li><%
					} else {
						for (var i = 0; i < messageHistory.debug.length; i++) {
							%><li>
									<span class="console-debug-message"><%=messageHistory.debug[i]._escapeHTML().replace(/\n/g, '<br>').replace(/\t/g, '&nbsp;&nbsp;')%></span>
									<% if (i !== messageHistory.debug.length - 1) %>
										<div class="horizontal-divider"></div>
								</li><%
						}
					}
				%>
				</ul>
			</div>
		</div>
	</div>
</noscript>

<noscript id="select-custom-options">
	<h3 class="jsb-centered"><%=_('select.options')%></h3>

	<ul class="select-custom-options"><%
		self.options.each(function () { %>
			<li class="<%=self.value === this.value ? 'select-custom-selected' : ''%>" data-value="<%=this.value._entityQuotes()%>"><%=this.innerText._escapeHTML()%><%=this.value !== this.innerText ? ('<br><span class="jsb-label jsb-smaller"> ' + this.value._escapeHTML() + '</span>') : ''%></li><%
		}); %>
	</ul>
</noscript>

<noscript id="extras-unlock-prompt">
	<h3 class="jsb-centered">Unlock Extra Features</h3>

	<p class="jsb-info jsb-readable">
		<a class="no-underline" href="http://jsblocker.toggleable.com/donation_only"><%=_('extras.what')%></a>
	</p><div></div>

	<%
		if (!Extras.isUnlockedForFree()) {
			if (self.trialExpired) { %>
				<p class="jsb-info jsb-readable"><%=_('extras.trial.expired')%></p><div></div><%
			} %>
			<% if (self.trialRemaining) { %>
				<p class="jsb-info jsb-readable"><%=_('extras.trial.remaining_time', [self.trialRemaining])%></p><div></div><%
			}
		}
	%>

	<p class="jsb-info jsb-readable"><%=_('extras.unlock.how')%></p>

	<div class="horizontal-divider"></div>

	<div id="extras-unlock-error-container" class="jsb-hidden">
		<span id="extras-unlock-error" class="jsb-error"></span>
		<div class="horizontal-divider horizontal-divider-short horizontal-divider-transparent"></div>
	</div>

	<label for="extras-unlock-email"><%=_('extras.email_address')%>:</label><q></q>
	<input type="text" id="extras-unlock-email" class="trigger-on-enter" /><q></q>
	<input type="button" id="extras-unlock-unlock" class="on-enter" value="<%=_('main_menu.unlock')%>" />

	<div class="horizontal-divider"></div>

	<a class="no-underline" href="mailto:iforgot@toggleable.com?subject=iForgot%20my%20JSB%20donation%20information"><%=_('setting.setLockerPassword.iforgot')%></a> <span class="jsb-label">┊</span>
	<a class="no-underline" href="http://jsblocker.toggleable.com/donate"><%=_('extras.make_donation')%></a>
	
	<% if (!Extras.isUnlockedForFree()) { %>
		<span class="jsb-label jsb-smaller">┊</span>
		<a class="no-underline jsb-smaller jsb-label" href="javascript:void(0);" id="extras-unlock-free"><%=_('extras.unlock_free')%></a><%
	} %>
</noscript>

<noscript id="extras-unlock-free">
	<p class="jsb-info jsb-readable"><%=_('extras.will_unlock_free')%></p>
	<div class="jsb-align-right">
		<input type="button" id="extras-unlock-free-now" value="<%=_('Unlock')%>" />
	</div>
</noscript>

<noscript id="donation-beg">
	<h3 class="jsb-centered"><%=_('change_log', [self.version])%></h3>

	<div id="change-log" class="jsb-info jsb-readable"><%=typeof self.changeLog === 'number' ? self.changeLog : self.changeLog.html()%></div>

	<% if (!Extras.isUnlockedByDonating()) { %>
		<div class="horizontal-divider"></div>
		<p class="jsb-info"><%=_('beg.thank_you')%></p>
		<p class="jsb-info jsb-readable"><%=_('beg.why')%></p>

		<div class="jsb-align-right">
			<input type="button" id="beg-later" value="<%=_('beg.later')%>" /><q></q>
			<input type="button" id="beg-donate" value="<%=_('beg.make_donation')%>" /><q></q>
			<input type="button" id="beg-donated" value="<%=_('beg.ive_donated')%>" />
		</div><%
	} %>
</noscript>

<noscript id="update-available">
	<h3 class="jsb-centered"><%=_('update_available', [self.version])%></h3>
	<h4 class="jsb-centered"><a href="javascript:void(0);" id="update-ignore" class="jsb-centered jsb-label"><%=_('update_available.ignore')%></a></h4>
	
	<p class="jsb-info jsb-readable jsb-smaller"><%=_('update_available.if_gallery')%></p>

	<p class="jsb-info"><%=_('update_available.more', [self.URL])%></p>

	<div class="horizontal-divider"></div>

	<div id="change-log" class="jsb-info"><%=typeof self.changeLog === 'number' ? self.changeLog : self.changeLog.html()%></div>%
</noscript>

<noscript id="edit-page">
	<%
		var section = $('.page-host-section[data-id="' + self.poppy.attr('data-poppyMenuMeta') + '"]', UI.container),
				blockedFirstVisitStatus = JSON.parse(section.attr('data-blockedFirstVisitStatus') || ''),
				isDisabled = section.attr('data-disabled') === '1';
	%>

	<% if (!blockedFirstVisitStatus.blocked && blockedFirstVisitStatus.action === -9) { %>
		<div class="generic-menu">
			<div class="generic-menu-menu jsb-align-right">
				<input type="button" id="edit-untrust" class="jsb-color-blocked" value="<%=_('first_visit.keep_blocked')%>" />
			</div>
		</div>

		<div class="horizontal-divider"></div><%
	} %>

	<div class="generic-menu">
		<div class="generic-menu-menu jsb-align-right">
			<input type="button" value="<%=_('view.page.header.' + (isDisabled ? 'enable_jsb' : 'disable_jsb'))%>" data-action="<%=isDisabled ? 'enable' : 'disable'%>" />
		</div>
	</div>

	<div class="horizontal-divider"></div>

	<h3 class="jsb-centered jsb-color-allowed"><%=_('rule.allow')%></h3>

	<div class="generic-menu">
		<div class="generic-menu-menu jsb-align-right">
			<input type="button" value="<%=_('view.page.header.all_kinds')%>" data-action="allow" data-which="all" />
			<input type="button" value="<%=_('view.page.header.checked_kinds')%>" data-action="allow" data-which="some" />
		</div>
	</div>

	<div class="horizontal-divider"></div>

	<h3 class="jsb-centered jsb-color-blocked"><%=_('rule.block')%></h3>

	<div class="generic-menu">
		<div class="generic-menu-menu jsb-align-right">
			<input type="button" value="<%=_('view.page.header.all_kinds')%>" data-action="block" data-which="all" />
			<input type="button" value="<%=_('view.page.header.checked_kinds')%>" data-action="block" data-which="some" />
		</div>
	</div>
</noscript>

<noscript id="progress-bar">
	<div class="progress-bar-container">
		<% if (self.topDivider)	{ %>
			<div class="horizontal-divider"></div><%
		} %>
		<p class="progress-bar-description jsb-info"><%=self.description._escapeHTML()%></p>
		<div class="progress-bar-back">
			<div class="progress-bar-progress" style="width:<%=self.percent%>%"><div class="progress-bar-shine"></div></div>
		</div>
		<p class="progress-bar-time-remaining jsb-info"><%=self.timeRemaining._escapeHTML()%></p>
	</div>
</noscript>
