<!--
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2017 Travis Lee Roman
-->

<noscript id="setting-menu-backup">
	<% if (!self.importOnly) { %>
		<h3 class="jsb-centered mini-margin"><%=_('setting_menu.backup')%></h3><%
	} %>

	<table id="setting-menu-backup">
		<% if (!self.importOnly) { %>
			<tr class="top">
				<td><%=_('setting_menu.include')%>:</td>
				<td>
					<ul class="generic-menu-options no-indent">
						<li>
							<input type="checkbox" id="setting-menu-backup-export-settings" checked="checked" /> <label for="setting-menu-backup-export-settings"><%=_('view_toolbar.setting')%></label>
						</li>
						<li>
							<input type="checkbox" id="setting-menu-backup-export-first-visit" checked="checked" /> <label for="setting-menu-backup-export-first-visit"><%=_('setting_menu.export_first_visit')%></label>
						</li>
						<li>
							<input type="checkbox" id="setting-menu-backup-export-rules" checked="checked" /> <label for="setting-menu-backup-export-rules"><%=_('setting_menu.export_rules')%></label>
						</li>
						<li>
							<input type="checkbox" id="setting-menu-backup-export-snapshots" checked="checked" /> <label for="setting-menu-backup-export-snapshots"><%=_('setting_menu.export_snapshots')%></label>
						</li>
						<li>
							<input type="checkbox" id="setting-menu-backup-export-user-scripts" checked="checked" /> <label for="setting-menu-backup-export-user-scripts"><%=_('setting_menu.export_user_scripts')%></label>
						</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td></td><td></td>
			</tr>
			<tr>
				<td><%=_('setting_menu.backup')%>:</td>
				<td><input id="setting-menu-backup-export" type="button" value="<%=_('setting_menu.export')%>" /></td>
			</tr>
			<tr>
				<td></td><td></td>
			</tr>
			<tr>
				<td colspan="2">
					<p class="jsb-readable"><%=_('setting_menu.export.description' + (Utilities.safariBuildVersion >= 603 ? '.603' : ''))%></p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="horizontal-divider horizontal-divider-extra-short"></div>
				</td>
			</tr><%
		} %>
		<tr>
			<td colspan="2">
				<h3 class="jsb-centered mini-margin"><%=_('setting_menu.import')%></h3>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="checkbox" id="clear-existing" checked="checked" /> <label for="clear-existing"><%=_('settings.clear_before_import')%></label></td>
		</tr>
		<tr>
			<td><%=_('setting_menu.import_backup')%>:</td>
			<td><input id="setting-menu-backup-import" type="file" value="<%=_('setting_menu.import')%>" /></td>
		</tr>
		<tr>
			<td colspan="2">
				<p class="jsb-readable"><%=_('setting_menu.import.description')%></p>
				<div class="horizontal-divider horizontal-divider-transparent horizontal-divider-extra-short"></div>
				<p><span class="jsb-smaller jsb-label"><a href="javascript:void(0);" id="setting-menu-backup-import-alternative"><%=_('setting_menu.import.alternative')%></a> <%=_('setting_menu.import.alternative.jsb4')%></span></p>
			</td>
		</tr>
	</table>
</noscript>

<noscript id="backup-import-alternative">
	<h3 class="jsb-centered"><%=_('setting_menu.backup')%></h3>

	<div class="generic-menu">
		<ul class="generic-menu-options generic-menu-menu">
			<li>
				<p class="jsb-readable jsb-info"><%=_('setting_menu.import.alternative.paste')%></p>
			</li>

			<li>
				<textarea id="backup-import-alternative"></textarea>
			</li>

			<li>
				<input type="checkbox" id="clear-existing" checked="checked" /> <label for="clear-existing"><%=_('settings.clear_before_import')%></label>
			</li>

			<li class="jsb-align-right">
				<input type="button" id="backup-import-alternative-import" value="<%=_('setting_menu.import')%>" />
			</li>
		</ul>
	</div>
</noscript>

<noscript id="import-rules-from-four">
	<h3 class="jsb-centered"><%=_('setting_menu.backup')%></h3>

	<div class="generic-menu">
		<ul class="generic-menu-options generic-menu-menu">
			<li>
				<p class="jsb-readable jsb-info"><%=_('setting.importRulesFromFour.prompt')%></p>
			</li>

			<li>
				<textarea id="rules-from-four"></textarea>
			</li>

			<li class="jsb-align-right">
				<input type="button" id="import-rules-from-four" value="<%=_('setting_menu.import')%>" />
			</li>
		</ul>
	</div>
</noscript>

<noscript id="set-lock-password">
	<h3 class="jsb-centered"><%=_('settings.set_locker_password')%></h3>

	<div class="generic-menu">
		<ul id="lock-password-set" class="generic-menu-menu generic-menu-options">
			<% if (!Locker.passwordIsSet()) { %>
				<li>
					<p class="jsb-info jsb-readable"><%=_('setting.setLockerPassword.description')%></p>
					<div class="horizontal-divider"></div>
				</li><%
			} %>
			<li>
				<table class="generic-menu-options">
					<tbody>
						<% if (Locker.passwordIsSet()) { %>
							<tr>
								<td class="jsb-align-right"><label for="lock-password-previous"><%=_('settings.current_locker_password')%>:</label><q></q></td>
								<td><input type="password" id="lock-password-previous" class="trigger-on-enter" /></td>
							</tr><%
						} %>

						<tr>
							<td class="jsb-align-right"><label for="lock-password"><%=_('settings.new_locker_password')%>:</label><q></q></td>
							<td><input type="password" id="lock-password" class="trigger-on-enter" /></td>
						</tr>

						<tr>
							<td class="jsb-align-right"><label for="lock-password-verify"><%=_('settings.verify_locker_password')%>:</label><q></q></td>
							<td><input type="password" id="lock-password-verify" class="trigger-on-enter" /></td>
						</tr>
					</tbody>
				</table>
			</li>

			<li class="jsb-align-right">
				<% if (Locker.passwordIsSet()) { %>
					<input type="button" id="lock-password-forgot" value="<%=_('setting.setLockerPassword.iforgot')%>" /><%
				} %>
				<% if (!self.preventCancel) { %>
					<input type="button" id="lock-password-cancel" value="<%=_('Cancel')%>" /><%
				} %>
				<input type="button" id="lock-password-save" class="on-enter" value="<%=_('Save')%>" />
			</li>
		</ul>
	</div>
</noscript>

<noscript id="toggle-lock">
	<h3 class="jsb-centered"><%=_('settings.enter_locker_password')%></h3>

	<div class="generic-menu">
		<ul class="generic-menu-menu generic-menu-options">
			<li>
				<label class="jsb-label"><%=_('locker.' + (self.locked ? 'unlocking' : 'locking'))%>:</label>
				<span><%=self.info%></span>
				<div class="horizontal-divider"></div>
			</li>

			<li class="jsb-centered">
				<label for="lock-password"><%=_('settings.locker_password')%>:</label><q></q>
				<input type="password" id="lock-password" class="trigger-on-enter" />
				<div class="horizontal-divider horizontal-divider-short horizontal-divider-transparent"></div>
			</li>

			<li class="jsb-align-right">
				<input type="button" id="lock-password-forgot" value="<%=_('setting.setLockerPassword.iforgot')%>" />
				<input type="button" id="lock-password-cancel" value="<%=_('Cancel')%>" />
				<input type="button" id="lock-password-toggle" class="on-enter" value="<%=_(self.locked ? 'Unlock' : 'Lock')%>" />
			</li>
		</ul>
	</div>
</noscript>

<noscript id="forgot-locker-password">
	<html>
		<head>
			<title><%=_('setting.setLockerPassword.iforgot.header')%></title>

			<style type="text/css">
				html {
					font-family: -apple-system;
				}
			</style>
		</head>
		<body>
			<h1><%=_('setting.setLockerPassword.iforgot.header')%></h1>
			<p><%=_('setting.setLockerPassword.iforgot.instructions')%></p>
		</body>
	</html>
</noscript>

<noscript id="confirm-setting-change">
	<p class="jsb-info jsb-readable"><%=self.string%></p>

	<div class="jsb-align-right">
		<input type="button" id="setting-confirm-cancel" value="<%=_('Cancel')%>" /><q></q>
		<input type="button" id="setting-confirm-change" value="<%=_('Change')%>" />
	</div>
</noscript>

<noscript id="user-script-storage-add">
	<p class="jsb-info"><%=_('setting.newUserScriptStorageItem.json')%></p>

	<input type="text" class="user-script-storage-add-key trigger-on-enter" placeholder="<%=_('setting.newUserScriptStorageItem.key')%>" />
	<input type="text" class="user-script-storage-add-value trigger-on-enter" placeholder="<%=_('setting.newUserScriptStorageItem.value')%>" /><q></q>
	<input type="button" class="user-script-storage-add-add on-enter" value="<%=_('setting.newUserScriptStorageItem.subLabel')%>" />
</noscript>

<noscript id="user-script-confirm-view-switch">
	<p class="jsb-info jsb-readable"><%=_('setting.saveUserScript.unsaved')%></p>

	<div class="jsb-align-right">
		<input type="button" class="user-script-confirm-view-switch-cancel" value="<%=_('Cancel')%>" /><q></q>
		<input type="button" class="user-script-confirm-view-switch-switch" value="<%=_('Switch')%>" data-viewID="<%=self.viewID%>" />
	</div>
</noscript>

<noscript id="fanboys-ultimate">
	<p class="jsb-info jsb-readable"><%=_('setting.filterLists.ultimate')%></p>
</noscript>

<noscript id="fanboys-annoyances">
	<p class="jsb-info jsb-readable"><%=_('setting.filterLists.annoyances')%></p>
</noscript>

<noscript id="encrypt-backup">
	<h3 class="jsb-centered"><%=_('setting_menu.encrypt_backup')%></h3>

	<div class="generic-menu">
		<ul id="encrypt-backup" class="generic-menu-menu generic-menu-options">
			<li>
				<p class="jsb-info jsb-readable"><%=_('setting.useSecureSettings.passwordRequired')%></p>
				<div class="horizontal-divider"></div>
			</li>
			<li>
				<table class="generic-menu-options jsb-centered">
					<tbody>
						<tr>
							<td class="jsb-align-right"><label for="backup-password"><%=_('settings.new_locker_password')%>:</label><q></q></td>
							<td><input type="password" id="backup-password" class="trigger-on-enter" /></td>
						</tr>

						<tr>
							<td class="jsb-align-right"><label for="backup-password-verify"><%=_('settings.verify_locker_password')%>:</label><q></q></td>
							<td><input type="password" id="backup-password-verify" class="trigger-on-enter" /></td>
						</tr>
					</tbody>
				</table>
			</li>

			<li class="jsb-align-right">
				<input type="button" id="backup-password-cancel" value="<%=_('Cancel')%>" />
				<input type="button" id="backup-password-save" class="on-enter" value="<%=_('setting_menu.export')%>" />
			</li>
		</ul>
	</div>
</noscript>

<noscript id="decrypt-backup">
	<h3 class="jsb-centered"><%=_('setting_menu.decrypt_backup')%></h3>

	<div class="generic-menu">
		<ul id="decrypt-backup" class="generic-menu-menu generic-menu-options">
			<li>
				<p class="jsb-info jsb-readable"><%=_('setting_menu.backup_encrypted')%></p>
				<div class="horizontal-divider"></div>
			</li>
			<li>
				<table class="generic-menu-options jsb-centered">
					<tbody>
						<tr>
							<td class="jsb-align-right"><label for="backup-password"><%=_('settings.locker_password')%>:</label><q></q></td>
							<td><input type="password" id="backup-password" class="trigger-on-enter" /></td>
						</tr>
					</tbody>
				</table>
			</li>

			<li class="jsb-align-right">
				<input type="button" id="backup-password-cancel" value="<%=_('Cancel')%>" />
				<input type="button" id="backup-password-import" class="on-enter" value="<%=_('setting_menu.import')%>" />
			</li>
		</ul>
	</div>
</noscript>
