<noscript id="rule-container">
	<div id="rule-toolbar"></div>
	<div id="rule-views-container" class="ui-view-container">
		<p id="rule-views-no-rules" class="jsb-info jsb-centered jsb-embossed"><%=_('rules.no_rules')%></p>
		<div id="rule-views"></div>
	</div>
</noscript>

<noscript id="multi-list-container">
	<ul class="multi-list-container"></ul>
</noscript>

<noscript id="multi-list-item">
	<li class="multi-list-item">
		<header data-expander="<%=self.expander%>">
			<h4><%=self.listName._startsWith('$') ? UI.Rules.getEasyListName(self.listName) : _('rules.' + self.listName)%></h4>
		</header>
		<div class="rule-group-list" data-listName="<%=self.listName%>"></div>
	</li>
</noscript>

<noscript id="multi-list-page-item">
	<li class="multi-list-page-item">
		<h2><%=_('view.page.header.' + (self.isFrame ? 'frame' : 'top'))%> − <%=decodeURI(self.location)._escapeHTML()%></h2>
		<div class="multi-list-page-item-rules"></div>
	</li>
</noscript>

<noscript id="rule-group-type">
	<header data-expander="<%=self.expander%>">
		<h4><%=_('rules.type.' + self.type)%></h4>
	</header>
	<ul class="rule-group-type" data-type="<%=self.type%>" data-editable="<%=self.editable ? '1' : '0'%>"></ul>
</noscript>

<noscript id="domain-list-item">
	<li>
		<header data-expander="<%=self.expander%>">
			<h4><%=(self.domain === '*' ? _('rules.all_domains') : self.domain)._escapeHTML()%></h4>
		</header>
		<ul class="rule-group-domain" data-domain="<%=self.domain._entityQuotes()%>"></ul>
	</li>
</noscript>

<noscript id="kind-list-item">
	<li>
		<header data-expander="<%=self.expander%>">
			<h4><%=_('view.page.host.kind.' + self.kind)%></h4>
		</header>
		<ul class="rule-group-kind" data-kind="<%=self.kind%>"></ul>
	</li>
</noscript>

<noscript id="rule-list-item">
	<li class="rule-item-container" data-rule="<%=self.rule._entityQuotes()%>">
		<div class="rule-item">
			<div class="rule-item-bubble" data-action="<%=self.ruleInfo.action%>"></div>
			<div class="rule-item-rule jsb-light-scrollbars">
				<%
					var humanString = "rules.list.",
							isAllowing = !!(self.ruleInfo.action % 2),
							ruleParts = self.ruleInfo.regexp ? { domain: self.rule } : globalPage.Rules.partsForRule(self.rule),
							domain = ruleParts.domain === '*' ? 'all domains' : ruleParts.domain;

					if (!self.ruleInfo.regexp) {
						if (self.kind._contains('user_script')) {
							domain = globalPage.UserScript.scripts.getStore(domain).getStore('attributes').get('meta', {}).name || 'UNKNOWN';
						} else if (self.kind._contains('special')) {
							domain = _('special.' + domain + '.' + (isAllowing ? 'allowed' : 'blocked'), [globalPage.Special.enabled[domain] ? globalPage.Special.enabled[domain].value : '']);
						}
					}

					if (self.kind._contains('hide:')) {
						humanString += isAllowing ? 'show' : 'hide';
					} else if (self.kind._contains('special')) {
						humanString += 'special';
					} else {
						humanString += isAllowing ? 'allow' : 'block';
					}

					if (self.ruleInfo.regexp) {
						humanString += '.matching';
					} else if (self.kind._contains('special') || self.kind._contains('user_script')) {
						humanString += '';
					} else if (self.kind._contains('disable')) {
						humanString += '.jsb';
					} else if (domain._startsWith('.')) {
						domain = domain.substr(1);

						humanString += '.within';
					} else {
						humanString += self.kind._contains('xhr') ? '.to' : '.from';
					} %>
				<%=_(humanString, [domain._escapeHTML()])%>
			</div>
			<div class="rule-item-remove"></div>
		</div>
	</li>
</noscript>
