<!--
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2017 Travis Lee Roman
-->

<noscript id="setting-container">
	<div id="setting-toolbar"></div>
	<div id="setting-views-container" class="ui-view-container"></div>
</noscript>

<noscript id="setting-section-container">
	<ul class="setting-section"></ul>
</noscript>

<noscript id="setting-section-collapsible">
	<li class="setting-section-collapsible">
		<header data-expander="<%=self.header%>" data-showLabel="1" data-noScroll="1" data-defaultCollapse="1">
			<h1><%=_(self.header)%></h1>
		</header>
		<ul class="setting-section-collapsible-container"></ul>
	</li>
</noscript>

<noscript id="setting-section-sub-container">
	<li class="setting-sub-container-wrapper"><ul class="setting-sub-container"></ul></li>
</noscript>

<noscript id="setting-section-setting">
	<li class="setting-section-setting" data-setting="<%=self.setting%>"></li>
</noscript>

<noscript id="setting-section-row">
	<li class="setting-section-row"><ul class="setting-row-container"></ul></li>
</noscript>

<noscript id="setting-section-divider">
	<li class="setting-section-divider <%=self.classes || ''%>"></li>
</noscript>

<noscript id="setting-section-header">
	<li class="setting-section-header">
		<div class="setting-section-setting-full">
			<h<%=self.level || 1%>><%=self.header%></h<%=self.level || 1%>>
		</div>
	</li>
</noscript>

<noscript id="setting-section-description">
	<li id="<%=self.id%>" class="setting-section-description <%=self.classes || ''%>">
		<div class="setting-section-setting-full">
			<p class="jsb-info"><%=self.description%></p>
		</div>
	</li>
</noscript>

<noscript id="setting-element">
	<%
		var inlineSetting = 'data-inlineSetting="' + (self.setting.setting || self.setting.store) + '"',
				storeKeySetting = self.setting.props.storeKey ? ('data-storeKey="' + self.setting.props.storeKey + '"') : '',
				settingType = self.setting.props.type || self.props.type,
				localizationKey = 'setting.' + self.setting.setting + (self.setting.props.storeKey ? '.' + self.setting.props.storeKey : ''),
				mainLabel = _(localizationKey + '.label'),
				subLabel = Strings.localizationExist(localizationKey + '.subLabel') ? _(localizationKey + '.subLabel') : null,
				help = Strings.localizationExist(localizationKey + '.help') ? _(localizationKey + '.help') : null;

		var wrapper = {
			left: self.wrap ? '<div class="setting-section-setting-left double-column-flex-left ' + (self.disabled ? 'jsb-disabled' : '') + '">' : '',
			right: self.wrap ? '<div class="setting-section-setting-right double-column-flex-right ' + (self.disabled ? 'jsb-disabled' : '') + '">' : '',
			full: self.wrap ? '<div class="setting-section-setting-full  double-column-flex-full ' + (self.disabled ? 'jsb-disabled' : '') + '">' : '',
			close: self.wrap ? '</div>' : ''
		};

		var helpHTML = help ? '<span class="more-info" data-forceTriggersClick="1" data-moreInfo="' + help._escapeHTML()._entityQuotes() + '"></span>' : '';

		switch (settingType) {
			case 'stand-alone-button':
			case 'button': %>
				<%=wrapper.left%>
				<% if (settingType !== 'stand-alone-button') { %>
					<label class="setting-main-label"><%=mainLabel%>:<q></q></label><%
				} %>
				<%=wrapper.close%>
				<%=wrapper.right%>
					<input type="button" id="<%=self.id%>" class="<%=self.setting.props.classes || ''%> <%=settingType === 'stand-alone-button' ? 'stand-alone-button' : ''%>" value="<%=subLabel%>" data-settingButton="<%=self.setting.setting%>" />
					<%=helpHTML%>
				<%=wrapper.close%><%
			break;

			case 'many-boolean':
			case 'boolean': %>
				<%=wrapper.full%>
					<input id="<%=self.id%>" type="checkbox" <%=inlineSetting%> <%=storeKeySetting%> /> <label for="<%=self.id%>"><%=mainLabel%></label>
					<%=helpHTML%>
				<%=wrapper.close%><%
			break;

			case 'option':
				var options = self.props.options || self.setting.props.options;

				if (self.setting.props.extendOptions)
					options = options.concat(self.setting.props.extendOptions); %>

				<%=wrapper.left%>
					<label class="setting-main-label" for="<%=self.id%>"><%=mainLabel%>:<q></q></label>
				<%=wrapper.close%>
				<%=wrapper.right%>
					<% if (self.props.otherOption || self.setting.props.otherOption) { %>
						<textarea class="render-as-input select-custom-input jsb-light-scrollbars" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" wrap="off" rows="0"></textarea><%
					} %>
					<select id="<%=self.id%>" <%=inlineSetting%> <%=storeKeySetting%>>
						<% for (var i = 0; i < options.length; i++) { %>
							<option value="<%=options[i][0]%>"><%=_(options[i][1], null, true)%></option><% 
						} %>
					</select><label></label>
					<% if (subLabel) { %>
						<label class="setting-sub-label"><%=subLabel%></label><%
					} %>
					<%=helpHTML%>
				<%=wrapper.close%><%
			break;

			case 'option-radio': %>
				<%=wrapper.left%>
					<label class="setting-main-label"><%=mainLabel%>:<q></q></label>
				<%=wrapper.close%>

				<%=wrapper.right%>
					<ul class="setting-radio-list"><%

					var options = self.props.options || self.setting.props.options,
							name = 'radio-settings-' + Utilities.Token.generate();

					if (self.setting.props.extendOptions)
						options = options.concat(self.setting.props.extendOptions);

					for (var i = 0; i < options.length; i++) { %>
						<li><input id="<%=self.id + i%>" type="radio" name="<%=name%>" value="<%=options[i][0]%>" <%=inlineSetting%> <%=storeKeySetting%> /> <label for="<%=self.id + i%>"><%=_(options[i][1], null, true)%></label></li><%
					}

					%> </ul>
					<%=helpHTML%>
				<%=wrapper.close%><%
			break;

			case 'range': %>
				<%=wrapper.left%>
					<label class="setting-main-label"><%=mainLabel%>:<q></q></label>
				<%=wrapper.close%>

				<%=wrapper.right%><%
					var options = self.props.options || self.setting.props.options; %>

					<input id="<%=self.id%>" type="number" min="<%=options[0]%>" max="<%=options[1]%>" <%=inlineSetting%> <%=storeKeySetting%> />
					<% if (subLabel) { %>
						<label class="setting-sub-label"> <%=subLabel%></label><%
					} %>
					<%=helpHTML%>
				<%=wrapper.close%><%
			break;

			case 'dynamic-array':
				var sorted = {},
						sortedKeys = [],
						value = Settings.getItem(self.setting.store),
						keys = Object.keys(value);

				for (var key in value)
					sortedKeys.push([key, value[key]]);

				sortedKeys.sort(function (a, b) {
					if (a[1].value[1] > b[1].value[1])
						return 1;

					if (b[1].value[1] > a[1].value[1])
						return -1;

					return 0;
				});

				for (var i = 0; i < sortedKeys.length; i++)
					sorted[sortedKeys[i][0]] = sortedKeys[i][1];

				%>

				<%=wrapper.full%>
					<div class="setting-dynamic-container">
						<ul class="setting-dynamic-list"><%
							for (var key in sorted) { %>
								<li data-setting="<%=self.setting.store%>" data-storeKey="<%=key%>">
									<span class="setting-dynamic-name">
										<input id="<%=self.id + key%>" type="checkbox" <%=inlineSetting%> data-storeKey="<%=key%>" data-dynamic="1" />
										<label for="<%=self.id + key%>"><%=sorted[key].value[1]._escapeHTML()%></label>
									</span>
									<span class="setting-dynamic-content jsb-light-scrollbars">
										<% if (Utilities.URL.isURL(sorted[key].value[0])) { %>
											<a href="<%=sorted[key].value[0]._entityQuotes()%>"><%=sorted[key].value[0]._escapeHTML()%></a><%
										} else { %>
											<%=sorted[key].value[0]._escapeHTML()%><%
										} %>
									</span>
									<% if (!(key in self.props.default)) { %> 
										<input type="button" class="setting-dynamic-delete double-click" value="<%=_('Delete')%>" /><%
									} %>
								</li><%
							} %>
						</ul>
						<div class="setting-dynamic-new-container" data-setting="<%=self.setting.store%>">
							<input class="setting-dynamic-new-name" type="text" /> <input class="setting-dynamic-new-content trigger-on-enter" type="text" />

							<div class="jsb-align-right">
								<input type="button" class="setting-dynamic-restore double-click" value="<%=_('settings.restore_defaults')%>" />
								<input type="button" class="setting-dynamic-new-save on-enter" value="<%=_('settings.add_item')%>" />
							</div>
						</div>
					</div>
				<%=wrapper.close%><%
			break;
		}
	%>
</noscript>

<noscript id="user-script-item">
	<li class="setting-section-setting user-script-item <%=self.index > 0 ? 'dividing-border' : ''%>">
		
		<div class="setting-section-setting-left">
			<p class="jsb-info"><input type="checkbox" id="<%=self.id%>-enable" data-userScript="<%=self.key._entityQuotes()%>" data-attribute="enabled" /> <label for="<%=self.id%>-enable"><b><%=(self.attributes.get('meta') || { name: '' }).name._escapeHTML()%></b></label> <span class="user-script-size jsb-label jsb-smaller"><%=globalPage.UserScript.sizeOf(self.key)%></span></p>
			<ul class="generic-menu-options generic-menu-menu">
				<% if (self.attributes.get('canBeUpdated')) { %>
					<li>
						<input type="checkbox" id="<%=self.id%>-auto-update" data-userScript="<%=self.key._entityQuotes()%>" data-attribute="autoUpdate" /> <label for="<%=self.id%>-auto-update"><%=_('user_script.enable_auto_update')%></label>
					</li>
					<li>
						<input type="checkbox" id="<%=self.id%>-developer" data-userScript="<%=self.key._entityQuotes()%>" data-attribute="developerMode" /> <label for="<%=self.id%>-developer"><%=_('user_script.enable_developer_mode')%></label>
					</li>
					<li>
						<p class="user-script-updated jsb-info jsb-label jsb-smaller"><%=_('setting.userScripts.updated', [(new Date(self.attributes.get('lastUpdate'))).toLocaleString()])%></p>
					</li>
				</ul><%
				} else { %>
					<li><p class="user-script-updated jsb-info jsb-label jsb-smaller"><%=_('setting.userScript.cannotUpdate')%></p></li><%
				} %>
			</ul>
		</div>
		<div class="setting-section-setting-right">
			<input type="button" class="user-script-edit" value="<%=_('view.page.host.edit')%>" data-userScript="<%=self.key._entityQuotes()%>" /><q></q>
			<input type="button" class="user-script-delete double-click jsb-color-blocked" value="<%=_('Delete')%>" data-userScript="<%=self.key._entityQuotes()%>" />
		</div>
	</li>
</noscript>

<noscript id="user-script-edit">
	<li id="user-script-title" class="setting-section-header">
		<div class="setting-section-setting-full">
			<h1><%=_('userScript.is_new')%></h1>
		</div>
	</li>
	<li class="setting-section-setting user-script-edit">
		<div class="setting-section-setting-full">
			<textarea class="user-script-content" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
		</div>
	</li>
</noscript>

<noscript id="user-script-storage">
	<li class="setting-section-setting user-script-storage">
		<ul></ul>
	</li>
</noscript>

<noscript id="user-script-storage-item">
	<li class="setting-section-setting user-script-storage-item">
		<div class="setting-section-setting-left"><%=self.key._escapeHTML()%>:<q></q></div>
		<div class="setting-section-setting-right">
			<input type="text" class="user-script-storage-item-value" data-userScript="<%=self.userScript._entityQuotes()%>" data-storageKey="<%=self.key._entityQuotes()%>" /><q></q>
			<input type="button" value="<%=_('Delete')%>" class="user-script-storage-item-delete double-click jsb-color-blocked" data-userScript="<%=self.userScript._entityQuotes()%>" data-storageKey="<%=self.key._entityQuotes()%>" /><q></q>
		</div>
	</li>
</noscript>

<noscript id="user-script-attribute-item">
	<li class="setting-section-setting user-script-attribute-item">
		<div class="setting-section-setting-left"><%=_('userScript.attribute.' + self.key)%>:<q></q></div>
		<div class="setting-section-setting-right">
			<input type="text" class="user-script-attribute-item-value" data-userScript="<%=self.userScript._entityQuotes()%>" data-attributeKey="<%=self.key._entityQuotes()%>" placeholder="<%=self.defaultValue ? _('userScript.attribute.use_default') : _('userScript.attribute.none')%>" value="<%=self.value ? self.value : ''%>" /><q></q>
		</div>
	</li>
</noscript>

<noscript id="sync-client-logged-in">
	<li id="sync-client-logged-in" class="setting-section-description">
		<div class="setting-section-setting-full">
			<p><%=_('sync.logged_into', [(SecureSettings.getItem('syncEmail') || '')._escapeHTML()])%></p>
		</div>
	</li>
</noscript>
