@import "../shared-before.less";

.shared-before(@empty);

@toolbarBaseColor: #dd4c0d;
@toolbarBaseColor: darken(@baseColor, 11%);
@toolbarBaseColor: #0073CF;

.jsb-element {
	& {
		background: rgba(255, 255, 255, 0.6);

		&,
		body {
			height: 100%;
			overflow: hidden;
			box-sizing: border-box;
		}

		&.yosemite {
			padding: 2px 1px 1px;
		}
	}

	#modal-overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 600;
		-webkit-user-select: none;
	}

	#container {
		height: 100%;

		#too-old {
			display: none;
			position: fixed;
			padding-top: 80px;
			top: 0;
			left: 0;
			background: #111;
			width: 100%;
			height: 100%;
			z-index: 214159;

			.jsb-info {
				color: #eee;
			
				&,
				& * {
					font-size: 15pt;
				}
			}
		}

		#view-container {
			height: 100%;
			display: -webkit-flex;
			-webkit-flex-direction: column;
			-webkit-transform: translateZ(0px);
			-webkit-filter: blur(0px) contrast(100%) brightness(100%);

			.transition() {
				-webkit-transition: -webkit-filter 0.25s ease-out, width 0.25s ease-out, padding 0.25s ease-out, background 0.11s ease-out, color 0.11s ease-out;
			}

			&.modal-blur {
				-webkit-filter: blur(12px) contrast(109%) brightness(105%);
			}

			#view-toolbar {
				position: relative;
				margin: 0 0 1px;
				padding-top: 2px;
				z-index: 500;
				-webkit-flex: 0 0 24px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.15);
				background: #fff;

				&,
				& * {
					-webkit-user-select: none;
				}

				#full-toggle,
				#open-menu {
					position: absolute;
					top: 2px;
					padding: 1px 5px 0;
					margin: 0 2px;
					color: @toolbarBaseColor;
					cursor: default;
					line-height: 19px;
					border-radius: 4px;
					
					.transition;

					&:active {
						color: darken(@toolbarBaseColor, 10%);
					}

					&.is-disabled,
					&.unread-error {
						color: #fff;
					}

					&.is-disabled {
						background: @toolbarBaseColor;

						&:active {
							background: darken(@toolbarBaseColor, 5%);
						}
					}

					&.unread-error {
						background: darken(red, 10%);

						&:active {
							background: darken(red, 15%);
						}
					}
				}

				#open-menu {
					right: 0;
				}
			}

			.view-switcher-container {
				position: absolute;
				left: 50%;

				&,
				& * {
					-webkit-user-select: none;
				}

				.view-switcher {
					position: relative;
					left: -50%;
					white-space: nowrap;
					height: 18px;
					list-style: none;

					li {
						border: 1px solid @toolbarBaseColor;
						margin-left: -1px;
						display: inline-block;
						list-style-type: none;
						text-align: center;
						height: 100%;
						width: 63px;
						padding: 0 5px;
						cursor: default;

						.jsb-large-font& {
							width: 77px;
						}

						.transition;

						&:first-child {
							border-top-left-radius: 4px;
							border-bottom-left-radius: 4px;
						}

						&:last-child {
							border-top-right-radius: 4px;
							border-bottom-right-radius: 4px;
						}

						&:active {
							background: lighten(@toolbarBaseColor, 52%);
						}

						&.active-view {
							background: @toolbarBaseColor;

							.view-switcher-item-container {
								color: #fff;
							}
						}

						&.view-switcher-hidden:not(.active-view) {
							width: 0;
							min-width: 0;
							padding: 0;
							margin: 0;
							overflow: hidden;
							border-right-width: 0;
							border-left-width: 0;
						}

						.view-switcher-item-container {
							position: relative;
							color: @toolbarBaseColor;
							line-height: 18px;

							.jsb-large-font& {
								line-height: 17px;
							}

							.transition;

							.view-switcher-item-notification {
								display: none;
								position: absolute;
								bottom: 3px;
								left: 103%;
								height: 8px;
								min-width: 7px;
								padding: 3px 4px;
								border-radius: 10px;
								background: red;
								text-align: center;
								line-height: 6px;
								color: #fff;
								border: 1px solid rgba(0, 0, 0, 0.3);
								font-size: 85%;
								text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
								box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
								z-index: 2;

								.jsb-large-font& {
									bottom: 4px;
									line-height: 8px;
								}
							}
						}
					}
				}
			}

			.ui-view {
				&.active-view {
					display: block;
				}

				.floated-header {
					position: absolute;
					z-index: 5;
				}
			}

			.ui-view,
			.ui-view:not(.active-view) .ui-view {
				display: none;
			}


			#main-views {
				-webkit-flex: 1 1 auto;
				overflow-y: scroll;
				overflow-x: hidden;
				padding: 2px 0;

				&::-webkit-scrollbar,
				#setting-views-container::-webkit-scrollbar {
					width: 9px;
					height: 9px;
				}

				.snapshot-info {
					display: none;
				}

				@import "view.page.less";
				@import "view.resource.less";
				@import "view.setting.less";
				@import "view.rule.less";
			}
		}
	}
}

@import "../shared-after.less";

.shared-after(@empty);
