/*
JS Blocker 5 (http://jsblocker.toggleable.com) - Copyright 2015 Travis Lee Roman
*/

.generic-menu,
#console-container {
	input[type="button"] {
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
	}
}

#console-container {
	#console-messages {
		min-width: 485px;
	}

	.console {
		margin-top: 10px;
	}
}

#extras-unlock-free {
	font-size: 0.8em;
	color: #ababab;
}

#feedback {
	&-send-email {
		float: left;
	}
	
	&-message {
		width: 350px;
		height: 100px;
		padding: 4px;
		margin-top: 7px;
		margin-bottom: 5px;
		resize: none;
	}
}
