.generic-menu,
#console-container {
	input[type="button"] {
		margin-right: 4px;
	}
}

.generic-menu {
	&-options li {
		margin-bottom: 5px;
	}
	
	&-menu input:last-child {
		margin-right: 0
	}
}

#console-container {
	.console {
		width: 400px;
		margin-top: 10px;
	}
}
