#main-views-page {
	width: 100%;

	#page-modal-info {
		position: relative;
		margin-top: 90px;
		width: 100%;

		* {
			font-size: 15pt;
		}
	}

	#page-state-container {
		margin-top: -3px;

		.page-host-section {
			margin-bottom: 10px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);

			&:not(:first-child) {
				border-top: 1px solid #ddd;
			}

			&-disabled {
				opacity: 0.3;
				pointer-events: none;
			}

			.page-host-header {
				position: relative;
				padding: 5px 3px 6px;
				background: rgb(246, 245, 246);
				border-top: 1px solid #fff;
				border-bottom: 1px solid #ddd;

				&.floated-header {
					position: absolute;
				}

				.page-host- {
					&type {
						&:after {
							content: '│';
							color: #ddd;
						}
					}

					&host {
					}

					&hidden-count {
						&:before {
							content: '│';
							color: #ddd;
						}
					}

					&edit {
						position: absolute;
						right: 3px;
						margin-top: -3px;
					}

					&type,
					&hidden-count {
						color: #888;
					}
				}
			}

			&.page-host-snapshot .page-host-edit {
				opacity: 0.3;
				pointer-events: none;
			}

			.page-host-editor,
			.page-host-first-visit,
			.page-host-snapshot-in-use {
				position: relative;
				display: none;
				background: #fafafa;
				padding: 4px 4px 2px 2px;
				border-bottom: 1px solid #e5e5e5;

				.more-info {
					position: absolute;
					right: 8px;
					top: 5px;
				}

				.jsb-info {
					padding-bottom: 0;

					.jsb-large-font& {
						margin-bottom: 3px;
					}
				}
			}

			.page-host-disabled,
			.page-host-snapshot-in-use {
				padding: 3px 0 1px;
				background: #fbfbfb;

				.jsb-info {
					font-size: 12pt;
					margin-top: 0;
				}
			}

			.page-host-snapshot-in-use {
				display: block;
			}

			.page-host-editor {
				padding: 4px 4px 4px 2px;
				z-index: 0;
				border-bottom-color: #e0e0e0;

				&.floated-header {
					position: absolute;
				}

				select + label {
					margin-right: 4px;
				}

				.page-host-editor-when-framed + label {
					margin-bottom: 4px;
				}

				.page-host-editor-kinds {
					line-height: 1.8;

					.jsb-large-font& {
						margin-top: 0;
						padding-top: 0;
					}

					label {
						margin-right: 5px;
					}
				}

				.page-host-editor-bottom {
					display: -webkit-flex;
					margin-top: -1px;

					.page-host-editor-where-wrapper {
						-webkit-flex: 0 1 auto;
						margin-right: 3px;

						select {
							max-width: 88%;
						}
					}

					.page-host-editor-create-wrapper {
						-webkit-flex: 1 0 auto;
						margin-top: 1px;
					}
				}
			}

			.page-host-first-visit:not(.jsb-hidden) {
				display: block;

				.jsb-info:not(.jsb-align-right) {
					padding-right: 28px;
				}

				.page-host-first-visit-buttons {
					margin-top: 10px;
				}
			}

			.page-host-columns {
				display: -webkit-flex;
				position: relative;
				z-index: 1;
				border-bottom: 1px solid #e5e5e5;

				&-resize {
					position: absolute;
					left: 50%;
					margin-left: -3px;
					width: 5px;
					height: 100%;
					cursor: col-resize;
				}

				.page-host-column {
					-webkit-flex: 1 0 50%;
					overflow: hidden;
					box-sizing: border-box;
					padding: 0 2px;

					&,
					& .page-host-items-container-header {
						background: #fff;
					}

					&-blocked {
						&,
						& .page-host-items-container-header {
							background: #fbfbfb;
						}

						border-left: 1px solid #fff;
						padding-left: 1px;

						.page-host-item-edit-check:checked {
							background: @allowColor;
							border-color: darken(@allowColor, 4%);
						}
					}

					&-allowed {
						border-right: 1px solid #ddd;

						.page-host-item-edit-check:checked {
							background: @blockColor;
							border-color: darken(@blockColor, 4%);
						}
					}
				}

				&-expand-blocked {
					.page-host-column {
						&-blocked {
							-webkit-flex: 1 0 78%;

							.jsb-large-font& {
								-webkit-flex: 1 0 73%;								
							}
						}

						&-allowed {
							-webkit-flex: 1 0 22%;

							.jsb-large-font& {
								-webkit-flex: 1 0 27%;
							}
						}
					}
				}

				&-expand-allowed {
					.page-host-column {
						&-blocked {
							-webkit-flex: 1 0 22%;

							.jsb-large-font& {
								-webkit-flex: 1 0 27%;
							}
						}

						&-allowed {
							-webkit-flex: 1 0 78%;

							.jsb-large-font& {
								-webkit-flex: 1 0 73%;								
							}
						}
					}
				}
			}

			.page-host-unblocked {
				position: relative;
				border-bottom: 1px solid #e5e5e5;
				background: #fff;
				padding: 0 3px 1px;
				z-index: 1;

				.page-host-items-container-header {
					background: #fff;

					&.floated-header-related-push {
						border-bottom-color: #ddd;
					}

					label {
						color: #777;
					}
				}

				.page-host-items-container .page-host-items:not([data-kind="script"]) .page-host-item .page-host-item-source {
					cursor: text;
				}
			}

			.page-host-items-container-header {
				padding: 5px 0 5px 1px;
				z-index: 4;

				&.floated-header-related-push {
					border-bottom-color: transparent;
				}

				label {
					font-weight: 500;
				}
			}

			.page-host-items-container {
				.page-host-kind > * {
					margin: 0 0 2px 1px;
					font-weight: 500;
					white-space: pre;
				}

				.page-host-items {
					position: relative;
					margin-bottom: 6px;

					&:last-child {
						margin-bottom: 2px;
					}

					.page-host-item {
						position: relative;
						padding: 7px 0 0;
						border-bottom: 1px solid #e9e9e9;

						&:last-child {
							border-bottom-color: transparent;
						}

						&-disabled {
							opacity: 0.3;
							pointer-events: none;						
						}

						&-rule-hidden * {
							font-weight: bold;
						}

						&[data-action="0"],
						&[data-action="1"], {
							background: lighten(rgb(23, 126, 251), 43%);
						}

						&[data-action="4"] {
							background: lighten(@blockColor, 68.9%);
						}

						&[data-action="5"] {
							background: lighten(@allowColor, 70.3%);
						}

						&[data-action="6"] {
							background: #f2f2f2;
						}

						&[data-action="8"] {
							background: lighten(yellow, 43%);
						}

						&[data-protocol="https:"] {
							.page-host-item-edit-select,
							.page-host-item-source-container > * {
								color: darken(gold, 23%);
							}
						}

						&[data-protocol="safari-extension:"] {
							.page-host-item-edit-select,
							.page-host-item-source-container > * {
								color: #0851FE;
							}
						}

						&[data-protocol="ftp:"] {
							.page-host-item-edit-select,
							.page-host-item-source-container > * {
								color: #950085;
							}
						}

						.page-host-item-container {
							display: -webkit-flex;

							.page-host- {
								&item-info {
									-webkit-flex: 0 0 15px;
									height: 15px;
									font-size: 1em;
									line-height: 16px;
									margin-top: -2px;
									opacity: 0.17;

									.jsb-large-font& {
										margin-top: -1px;
										-webkit-flex: 0 0 17px;
										height: 17px;
										line-height: 17px;
									}
								}

								&item-source-container {
									-webkit-flex: 1 1 auto;
									padding-right: 1px;
									height: 21px;
									overflow-x: auto;
									margin: 0 1px 0 4px;

									.jsb-large-font& {
										height: 25px;
									}

									> * {
										white-space: pre;
										cursor: pointer;
									}
								}

								&host-count-container {
									-webkit-flex: 1 0 auto;
									min-width: 10px;
									padding: 0 2px;
									text-align: right;

									.page-host-host-count {
										white-space: pre;
										text-decoration: none;
									}
								}
							}
						}

						.page-host-item-source-container,
						.page-host-item-edit-container textarea,
						.page-host-item-description .jsb-info, {
							&:hover::-webkit-scrollbar-thumb {
								background: rgba(0, 0, 0, 0.3);
							}
							
							&::-webkit-scrollbar {
								height: 3px;

								&-thumb {
									background: rgba(0, 0, 0, 0.1);

									&:hover {
										background: rgba(0, 0, 0, 0.5);
									}
								}
							}
						}

						.page-host-item-edit-container {
							display: -webkit-flex;
							padding-bottom: 2px;

							.jsb-large-font& {
								padding-bottom: 0;
							}

							.page-host-item-edit-check-wrapper {
								-webkit-flex: 0 0 auto;
								-webkit-align-self: center;
								margin-right: 3px;
								margin-left: 1px;
								height: 16px;

								.jsb-large-font& {
									margin-top: -6px;
								}
							}

							.page-host-item-edit-select-wrapper {
								-webkit-flex: 1 1 auto;
								padding-right: 1px;

								select:not(.select-custom-ready) {
									width: 100%;
								}

								input,
								textarea {
									width: 89%;
									margin-bottom: 2px;
									resize: none;
									white-space: pre;

									.popover-expanded& {
										width: 91%;
									}
								}

								textarea {
									width: auto;

									.popover-expanded& {
										width: auto;
									}
								}
							}
						}

						&.page-host-item-select-custom .page-host-item-edit-container {
							padding-bottom: 2px;
						}

						.page-host-item-description {
							.jsb-info {
								color: rgba(0, 0, 0, 0.4);
								margin-top: -1px;
								margin-left: 19px;
								text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
								white-space: pre;
							}
						}

						&:hover {
							.page-host-item-info {
								opacity: 1;
							}
						}
					}
				}
			}

			&.page-host-editing {
				.page-host-columns .page-host-items-container .page-host-item {
					padding-top: 3px;

					&:not(:last-child) {
						border-bottom-color: #f1f1f1;
					}
				}
			}
		}
	}
}
